<div class="banner banner--lost-link">
  <div class="banner__image ">
    <a href="#"><img src="../../../source/images/banner_image_01.jpg" alt=""></a>
  </div>

  <div class="banner__wrap">
    <div class="container">
      <div class="banner__body">
        <h2 class="banner__subtitle bg--crown">about us</h2>

        <div class="banner__content">
          <h1 class="text--crown banner__title">we really do have it all</h1>

          <div class="banner__description text--large">
            <p>we have everything you need in the bedroom</p>
          </div>
        </div>

        <div class="best-advice hidden-on-mobile">
          <a href="#">best advice. never beaten on price</a>
        </div>
      </div>
    </div>
  </div>
</div>
