<div class="box-image-text box-image-text--image-left bg--orange">
  <div class="container">
    <div class="box-image-text__wrap">
      <div class="box-image-text__body">
        <h2>explore & customise your favourites</h2>

        <div class="box-image-text__content">
          <p>with our digital brochure</p>
        </div>

        <div class="box-image-text__link">
          <a class="btn btn--dark-blue" href="#"><span>view now</span></a>
        </div>
      </div>

      <div class="box-image-text__image">
        <img src="../../images/riseandshine-customdesign-02.png" alt="">
      </div>
    </div>
  </div> 
</div>
