<div class="box-image">
  <div class="container">
    <div class="box-image__wrap">
      <div class="box-image__content">
        <h2 class="box-image__title">want flexibility <br class="hidden-on-tablet" />to spice it up?</h2>

        <div class="box-image__description text--orange">
          <p>try the orlando suite</p>
        </div>
        
        <div class="box-image__link">
          <a href="#" class="btn btn--dark-blue"><span>discover</span></a>
        </div>
      </div>

      <div class="box-image__image">
        <img src="../../../source/images/theme_image_01.png" alt="">
      </div>
    </div>
  </div>
</div>
