<footer class="footer">
  <div class="footer__top">
    <div class="container">
      <div class="footer__wrap">
        <div class="menu-basic">
          <ul>
            <li>
              <a href="#">about</a>
            </li>
            <li>
              <a href="#">careers</a>
            </li>
            <li>
              <a href="#">delivery services</a>
            </li>
            <li>
              <a href="#">copyright</a>
            </li>
            <li>
              <a href="#">stores</a>
            </li>
            <li>
              <a href="#">privacy policy</a>
            </li>
            <li>
              <a href="#">contact us</a>
            </li>
            <li>
              <a href="#">terms &amp; conditions</a>
            </li>
          </ul>
        </div>
        
        <div class="footer__icons">
          <h6 class="footer__title">follow us</h6>

          <ul class="list-icons">
            <li><a href="#" class="icon-facebook"></a></li>
            <li><a href="#" class="icon-instagram"></a></li>
            <li><a href="#" class="icon-youtube"></a></li>
          </ul>
        </div>

        <div class="footer__form">
          <h6 class="footer__title">get the latest from rise+shine</h6>

          <form action="#" method="POST">
            <div class="form-item">
              <input type="text" placeholder="full name">
            </div>

            <div class="form-item">
              <input type="email" placeholder="email">
              <button type="submit"><span><i class="icon-arrow"></i></span></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="footer__bottom">
    <div class="container">
      <div class="footer__wrap">
        <div class="footer__copyright hidden-on-mobile">
          <p>© 2018 rise+shine </p>
        </div>

        <div class="footer__content">
          <span>we accept</span>
          <a href="#"><img src="../../../source/images/footer_image_01.png"></a>
          <a href="#"><img src="../../../source/images/footer_image_02.png" alt=""></a>
        </div>

        <div class="footer__copyright hidden-on-tablet">
          <p>© 2018 rise+shine </p>
        </div>

        <div class="footer__text">
          <p>strategy, design &amp; development by Sentius</p>
        </div>
      </div>
    </div>
  </div>
</footer>
