.best-advice {
  @extend %link--normal;
  @extend %link--small-desktop;
  @extend .text--italic;
  color: $white;
  padding: 0 22px 0 25px;
  position: relative;
  z-index: 2;

  &:before {
    position: absolute;
    border-left: 1px solid $light-gray;
    content: '';
    left: 0;
    top: 50%;
    height: 12px;
    width: 1px;
    margin-top: -6px;

    @media only screen and (max-width: 1024px) {
      display: none;
    }
  }

  @media only screen and (max-width: 1024px) {
    padding: 6px 0 8px 0;
    display: none;
  }

  &--mobile {
    display: block;
    background: $dark-blue;
    text-align: center;

    @media only screen and (min-width: 768px) {
      display: none;
    }
  }
}

.banner-wrap > .best-advice--mobile {
  position: absolute;
  top: -34px;
  left: 0;
  width: 100%;
}
