.box-icon {
  padding: 33px 0 4px;

  @media only screen and (min-width: 768px) {
    padding: 90px 0 103px;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -16px;

    @media only screen and (min-width: 768px) {
      margin: 0 -15px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 16px;
    width: 33.33333%;
    margin-bottom: 33px;

    @media only screen and (min-width: 768px) {
      width: 20%;
      padding: 0 15px;
      display: flex;
      flex-wrap: wrap;
      margin: 0;
    }
  }

  &__image {
    margin-bottom: 4px;

    @media only screen and (min-width: 768px) {
      margin-bottom: 7px;
    }

    img {
      width: 88px;
      height: auto;

      @media only screen and (min-width: 768px) {
        width: 114px;
        height: auto;
      }
    }
  }

  &__title {
    line-height: 1.1243;
    margin: 0 -7px;

    @media only screen and (min-width: 768px) {
      line-height: 1;
      margin: auto;
    }
  }
}
