.box-size {
  &__wrap {
    @media only screen and (min-width: 768px) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__content {
    width: 100%;

    @media only screen and (min-width: 768px) {
      width: 50%;
    }

    p {
      @media only screen and (min-width: 768px) {
        margin-bottom: 12px;
      }
    }
  }

  &__title {
    margin-bottom: 20px;
  }

  &__table {
    width: 100%;

    @media only screen and (min-width: 768px) {
      width: 50%;
      padding-left: 17px;
      margin-top: -4px;
    }

    table {
      width: 100%;

      td,th {
        font-size: 14px;

        @media only screen and (min-width: 768px) {
          min-width: 120px;
          font-size: 16px;
        }
      }
    }
  }
}
