.box-filter {
  @extend .bg--gray;
  overflow: hidden;
  background: $dark-green;

  @media only screen and (max-width: 1023px) {
    padding-bottom: 17px;
  }

  @media only screen and (min-width: 1024px) {
    overflow: visible;
    position: relative;
    background: $light-green;
  }

  .container {
    @media only screen and (min-width: 1024px) {
      position: relative;
    }
  }

  &__wrap {
    padding: 26px 0 0 0;

    @media only screen and (min-width: 1024px) {
      display: flex;
      justify-content: space-between;
      padding: 15px 0 20px;
      position: relative;
    }
  }

  &__aside {
    @media only screen and (max-width: 1023px) {
      position: fixed;
      left: 100%;
      top: 0;
      width: 100%;
      height: 100vh;
      transition: .5s;
      overflow: hidden;
      z-index: 9;
      background: $gray;
    }

    &.active {
      left: 0;
    }
  }

  &__top {
    margin-bottom: 16px;

    @media only screen and (min-width: 1024px) {
      margin: 0;
    }

    ul {
      display: flex;

      @media only screen and (max-width: 1023px) {
        overflow: auto;
      }

      @media only screen and (min-width: 1024px) {
        max-width: 415px;
      }

      li {
        margin-right: 5px;
        margin-bottom: 10px;
        width: 25%;

        @media only screen and (min-width: 1024px) {
          margin: 0 10px 0 0;
          width: auto;

          &:last-child {
            margin-right: 0;
          }

          &:nth-last-of-type(2) {
            margin-right: 10px;
          }
        }

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          height: 100%;
          padding: 10px;
          @extend %link--small;
          line-height: 1.1667;
          background: $white;
          padding: 7px 16px 8px 15px;
          text-transform: lowercase;

          @media only screen and (max-width: 1023px) {
            padding: 7px 17px 8px;
          }

          &.active {
            @extend .bg--dark-blue;
          }
        }

        &.active a {
          @extend .bg--dark-blue;
        }
      }
    }
  }

  &__bottom {
    > span {
      margin-bottom: 10px;
    }
  }

  &__sort {
    @extend .text--tiny;

    @media only screen and (min-width: 1024px) {
      position: relative;
    }

    .woocommerce-ordering {
      float: none;
    }

    select {
      width: 100%;
    }

    > span {
      &.btn {
        @extend .text--tiny;
        @extend .btn--depend;
        padding-top: 12px;
        padding-bottom: 16px;

        @media only screen and (min-width: 1024px) {
          min-width: 213px;
        }
      }

      span:before {
        transform: translate(0,-50%) rotate(90deg);
      }

      &.active {
        span:before {
          transform: translate(0,-50%) rotate(270deg);
        }
      }
    }

    ul {
      display: none;
      background: $white;

      @media only screen and (min-width: 1024px) {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
      }

      &.active {
        display: block;
      }

      li {
        a {
          padding: 12px 38px 16px 16px;
          display: block;
          border-top: 1px solid $light-green;
        }
      }
    }
  }



  &__body {

    > .btn {
      @extend .btn--white;
      @extend .btn--full;
      @extend .btn--depend;
      margin-bottom: 10px;
      font-size: 12px;
      padding: 13px 16px 16px 16px;

      @media only screen and (min-width: 1024px) {
        display: none;
      }

      span:before {
        transform: translate(0,-50%)  rotate(90deg);

        @media only screen and (max-width: 1023px) {
          right: 2px;
          transform: translate(0,-50%) rotate(0deg);
        }
      }
    }
  }

  &__item {
    form,
    .form-wrap {
      @media only screen and (min-width: 1024px) {
        display: flex;
      }
    }

    .form-list {
      margin: 0 0 10px 0;

      @media only screen and (min-width: 1024px) {
        margin: 0;
      }

      &.form-top {
        padding: 17px 0 14px;
        margin-bottom: 10px;
        border-bottom-color: #cdd1d0;

        @media only screen and (min-width: 1024px) {
          display: none;
        }
      }

      &.form-2col {
        @media only screen and (min-width: 1024px) {
          margin: 0 10px 0 0;
        }

        .form-item {
          @media only screen and (min-width: 1024px) {
            width: auto;
            margin: 0 10px 0 0;

            &:last-of-type {
              margin: 0;
            }

            .btn {
              padding: 11px 16px 12px 14px;
            }
          }

          &.form-hidden {
            @media only screen and (max-width: 1023px) {
              display: block;
            }
          }
        }

        .form-type-text {
          @media only screen and (min-width: 1024px) {
            width: 60px;
          }

          input {
            background: $white;
            font-size: 12px;
            padding: 12px 10px;
            text-align: center;

            @media only screen and (max-width: 1023px) {
              text-align: left;
              padding: 12px 16px 13px;
            }
          }
        }
      }

      &:nth-of-type(2) {
        @media only screen and (min-width: 1024px) {
          display: none;
        }
      }

      &:nth-of-type(3) {
        @media only screen and (min-width: 1024px) {
          display: flex;
        }

        .form-item {
          @media only screen and (min-width: 1024px) {
            margin: 0 10px 0 0;
          }
        }
      }

      &:last-of-type {
        .form-item {
          @media only screen and (min-width: 1024px) {
            background: none;
          }
        }
      }

      .form-item {
        @media only screen and (min-width: 1024px) {
          margin: 0;
          position: relative;
        }

        &.form-submit {
          @media only screen and (max-width: 1023px) {
            input[type="submit"],
            button[type='submit'] {
              text-align: center;
              padding: 9px 10px 14px;
            }
          }
        }

        &.disabled {
          opacity: .5;
          pointer-events: none; 
        }

        .btn {
          @extend .btn--white;
          @extend .btn--depend-mobile;
          @extend .text--tiny;
          line-height: 1.6667;
          width: 100%;
          display: inline-block;

          @media only screen and (min-width: 1024px) {
            width: auto;
            padding: 11px 44px 12px 16px;
          }

          span {
            text-align: left;
            display: inline-block;
            width: 100%;

            &:before {
              transform: translate(0,-50%);
              font-size: 11px;
              right: -25px;

              @media only screen and (min-width: 1024px) {
                transform: translate(0,-50%) rotate(90deg);
              }
            }
          }
        }

        input[type="submit"],
        button[type='submit'] {
          @extend .btn--cyan;

          span {
            text-align: center;
          }


          @media only screen and (min-width: 1024px) {
            padding: 11px 16px 12px 14px;
          }
        }

        input[type="reset"] {
          width: auto;
          background: none;
        }

        > span {
          @media only screen and (min-width: 1024px) {
            transition: none;
          }

          &.active {
            @media only screen and (min-width: 1024px) {
              position: relative;
              z-index: 10;

              &:after {
                content: "";
                position: absolute;
                width: 100%;
                height: 20px;
                top: 100%;
                background: $white;
                left: 0;
                z-index: 1;
              }

              &:before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: calc(100% + 7px);
                box-shadow: 0px 1px 4px 1px rgba($black, .5);
              }
            }

            span {
              &:before {
                @media only screen and (min-width: 1024px) {
                  transform: translate(0,-50%) rotate(270deg);
                }
              }
            }
          }
        }

        input[type="checkbox"] ~ label {
          @media only screen and (max-width: 1023px) {
            padding: 11px 17px 14px;
            font-size: 12px;
            text-transform: lowercase;
          }

          &:before {
            @media only screen and (max-width: 1023px) {
              border-radius: 0;
              border-width: 2px;
              margin: 0;
              transform: translateY(-50%);
              right: 15px;
              left: inherit;
            }
          }

          &:after {
            @media only screen and (max-width: 1023px) {
              right: 11px;
              bottom: 6px;
              left: inherit;
              top: inherit;
            }
          }
        }
      }
    }

    .container {
      @media only screen and (min-width: 1024px) {
        width: 100%;
        margin: 0;
        padding: 0;
      }
    }
  }

  &__child {
    @extend .bg--gray;
    position: absolute;
    left: 100%;
    top: 1px;
    width: 100%;
    height: 100vh;
    transition: .5s;
    z-index: 9;

    @media only screen and (min-width: 1024px) {
      top: calc(100% + 10px);
      left: 0;
      height: auto;
      min-width: 230px;
      background: $white;
      box-shadow: 0px 1px 4px 1px rgba($black, .5);
      display: none;
      padding: 9px 0px 16px 20px;
    }

    &.active {
      left: 0;

      @media only screen and (min-width: 1024px) {
        display: block;
      }
    }

    .form-list {
      &:nth-of-type(2n),
      &:nth-of-type(2n+1) {
        @media only screen and (min-width: 1024px) {
          display: block;

          .form-item {
            margin: 0;
          }
        }
      }

      &.form-top,
      &.form-caption {
        @media only screen and (min-width: 1024px) {
          display: none;

          & ~ .form-list {
            .form-item {
              margin-bottom: 10px;

              &:last-of-type {
                margin: 0;
              }
            }
          }
        }
      }

      &.form-caption {
        @media only screen and (max-width: 1023px) {
          font-size: 16px;
          margin-bottom: 5px;
        }
      }

      &.form-top {
        @media only screen and (max-width: 1023px) {
          margin-bottom: 8px;
        }
      }

      .form-item {
        text-transform: lowercase;
        
        button[type="submit"],
        input[type="submit"] {
          background: $green;
          color: $white;
          padding: 11px 38px 12px 16px;

          @media only screen and (min-width: 1024px) {
            display: none;
          }
        }
      }
    }
  }

  &__sort {
    @media only screen and (min-width: 1024px) {
      position: absolute;
      top: 100%;
      right: 0;
    }

    > .btn {
      @extend .btn--white;
      @extend .btn--depend-mobile;

      @media only screen and (max-width: 1023px) {
        width: 100%;
      }
    }
  }

  &__title {
    margin-bottom: 7px;
  }

  .come-back {
    &:hover {
      cursor: pointer;
    }

    i {
      margin-right: 10px;

      &:before {
        font-size: 11px;
        display: inline-block;
        transform: rotate(180deg);
      }
    }
  }
}
