.box-intro {
  padding: 71px 0 80px;

  @media only screen and (max-width: 1023px) {
    padding: 63px 0 35px;
    background: $gray;;
  }

  &__wrap {
    @media only screen and (min-width: 1024px) {
      position: relative;
    }
  }

  &__image {
    display: none;

    @media only screen and (min-width: 1024px) {
      display: block;
      line-height: 0;
      margin-left: -125px;
    }
  }

  &__content {
    @media only screen and (min-width: 1024px) {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      padding: 40px 0 0 50px;
    }
  }

  &__top {
    margin-bottom: 15px;

    @media only screen and (min-width: 1024px) {
      display: flex;
      align-items: flex-start;
      margin: 0;
    }
  }

  &__title {
    @media only screen and (min-width: 1024px) {
      width: 26%;
    }
  }

  &__body {
    padding: 0;
    font-size: 16px;

    @media only screen and (min-width: 1024px) {
      width: 74%;
      padding: 8px 0 0 12px;
      margin-bottom: 52px;
    }
  }

  &__multilink {
    @media only screen and (min-width: 1024px) {
      display: inline-block;
      margin-right: 22%;
    }

    @media only screen and (min-width: 1440px) {
      margin-right: 43%;
    }
  }

  &__item {
    margin-bottom: 15px;

    .btn {
      @extend .btn--depend;
      min-width: 193px;

      @media only screen and (max-width: 767px) {
        width: auto;
      }
    }
  }
}
