.box-info {
  padding: 70px 0;
  background: url('../../images/Layer-119.jpg');

  &__title {
    text-align: center;
    color: $white;
    margin-bottom: 20px;
  }

  &__sub-title {
    color: $bg-indigo;
    margin-bottom: 20px;
  }

  &__list {
    display: flex;
    text-align: center;
    flex-wrap: wrap;

    @media only screen and (min-width: 768px) {
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  }

  &__item {
    width: 100%;
    margin-bottom: 10px;
    background: $white;
    padding: 10px 0;

    @media only screen and (min-width: 768px) {
      width: calc(100%  / 3);
      background: $white;
      padding: 20px 0;
      margin: 0 10px;
    }
  }
}
