.product {
  &__wrap {
    display: flex;
  }

  &__gallery {
    width: 45%;
    display: flex;
    align-items: center;

    .woocommerce-product-gallery__image {
      position: relative;
      z-index: 1;
    }

    .easyzoom-flyout {
      position: relative;
      z-index: 2;
    }
  }

  &__images {
    width: 80%;
  }

  &__thumnail {
    width: 20%;

    .slick-arrow {
      position: absolute;
      background: none;
      padding: 0;

      &:before {
        color: $text-color;
      }

      &.slick-next {
        bottom: 0;
        left: 0;
        top: inherit;
        right: 0;
        text-align: center;
        width: 100%;

        &:before {
          transform: rotate(90deg);
        }
      }
    }
  }

  &__content-right {
    @media only screen and (min-width: 768px) {
      width: 55%;
      padding: 0 0 0 17px;
    }

    @media only screen and (min-width: 1024px) {
      width: 55%;
      padding: 0 59px 0 17px;
    }

    .price {
      margin-bottom: 20px;
    }

    form {
      margin-bottom: 22px;

      .form-list {
        display: flex;

        .form-item {
          padding: 0 10px 10px 0;

          &:last-of-type {
            padding: 0;
          }

          input[type="checkbox"] {
            display: none;
          }

          label {
            @extend .text--small;
            @extend .text--regular;
            @extend .btn;
            @extend .btn--lost-icon;
            @extend .btn--gray;
          }

          &.form-select {
            .btn {
              @extend .btn--gray;
              padding: 13px 45px 12px 18px;

              span {
                &:before {
                  transform: rotate(90deg);
                  right: -27px;
                  top: 3px;
                }
              }
            }
          }

          &.form-cart {
            width: 100%;

            .btn {
              padding: 11px 16px 14px 47px;
            }
          }
        }
      }
    }
  }

  &__title {
    @extend .h3;
    margin-bottom: 23px;
  }

  &__description {
    ul {
      li {
        span {
          @extend .text--normal;
        }
      }
    }
  }

  &__content {
    display: none;

    &.active {
      display: block;
    }
  }

  &__name {
    @extend .text--small;
    margin-bottom: 4px;

    .icon-lock {
      vertical-align: middle;

      &:before {
        font-size: 15px;
      }
    }

    a {
      color: $light-blue;
    }
  }

  &__multilink {
    display: flex;
    justify-content: space-between;
  }

  &__row {
    margin-bottom: 15px;

    &:last-of-type {
      margin: 0;
    }

    &:first-child {
      .form-list {
        flex-wrap: wrap;
      }
    }
  }

  &__body {
    width: 100%;

    @media only screen and (min-width: 768px) {
      display: flex;
      width: 91.5%;
    }
  }

  &__left {
    @media only screen and (min-width: 768px) {
      width: 45%;
      padding-right: 13px;
      min-width: 395px;
    }

    &__image {
      img {
        margin: auto;
        width: 100%;
        height: auto;

        @media only screen and (max-width: 767px) {
          height: 100%;
          width: auto;
        }
      }
    }
  }

  &__icons {
    .list-icons {
      li {
        a {
          padding: 0 8px 0 0;
        }
      }
    }
  }

  .btn--cart {
    @extend .btn--full;
  }
}
