.product {
  &__wrap {
    @media only screen and (min-width: 768px) {
      display: flex;
    }
  }

  &__thumnail,
  &__images {
    opacity: 0;

    &.slick-slider {
      opacity: 1;
    }
  }

  &__gallery {
    @media only screen and (min-width: 768px) {
      width: 50%;
      display: flex;
      padding-right: 15px;
    }

    .woocommerce-product-gallery__image {
      position: relative;
      z-index: 1;
    }

    .easyzoom {
      height: 360px;
      display: flex !important;
      align-items: center;

      @media only screen and (min-width: 1440px) {
        height: 445px;
      }

      a img {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
      }
    }

    .easyzoom-flyout {
      z-index: 999;
      width: 100%;
      display: inline-block;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      min-width: 382px;

      @media only screen and (max-width: 767px) {
        display: none !important; 
      }

      img {
        max-width: inherit;
        width: auto;
      }
    }
  }

  &__images {
    @media only screen and (min-width: 768px) {
      width: calc(100% - 83px);
    }

    .slick-track {
      @media only screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .slick-slide {
      line-height: 0;
      width: 100%;
    }
  }

  &__thumnail {
    width: 73px;
    padding-bottom: 10px;
    margin-right: 10px;

    @media only screen and (max-width: 767px) {
      display: none;
    }

    @media only screen and (min-width: 1440px) {
      width: 83px;
    }

    .slick-arrow {
      position: absolute;
      background: none;
      padding: 0;

      &:before {
        color: $text-color;
      }

      &.slick-prev {
        display: none !important;
      }

      &.slick-next {
        bottom: -10px;
        left: 0;
        top: inherit;
        right: 0;
        text-align: center;
        width: 100%;
        height: 20px;
        min-height: inherit;

        &:before {
          transform: rotate(90deg);
          top: 50%;
          margin-top: -3px;
          margin-left: -3px;
        }
      }
    }

    .slick-slide {
      border: 0;
      line-height: 0;
      background: #f2f6f5;
      margin-bottom: 10px;
      height: 60px;
      overflow: hidden;
      cursor: pointer;

      @media only screen and (min-width: 1440px) {
        height: 75px;
      }

      img {
        height: 100%;
        width: auto;
      }
    }

    img {
      margin-right: 0;
    }
  }

  &__content-right {
    @media only screen and (min-width: 768px) {
      width: 63%;
      padding: 0 0 0 15px;
    }

    @media only screen and (min-width: 1024px) {
      width: 50%;
    }

    .price {
      margin-bottom: 20px;

      del,
      ins {
        font-size: 15px;
        display: block !important;
        text-decoration: none;
        font-weight: normal !important;
        opacity: 1 !important;
      }

      del {
        color: $blue;

        span {
          text-decoration: line-through;
          font-size: 14px;
        }
      }

      ins {
        color: $red;
        margin-top: -11px;

        span {
          font-size: 21px;
        }
      }

      span {
        color: $red;

        span {
          font-size: 14px;
        }
      }
    }

    form {
      margin-bottom: 22px;

      .form-list {
        display: flex;

        .form-item {
          padding: 0 10px 10px 0;

          &:last-of-type {
            padding: 0;
          }

          input[type="checkbox"] {
            display: none;
          }

          label {
            @extend .text--small;
            @extend .text--regular;
            @extend .btn;
            @extend .btn--lost-icon;
            @extend .btn--gray;
          }

          &.form-select {
            .btn {
              @extend .btn--gray;
              padding: 13px 45px 12px 18px;

              span {
                &:before {
                  transform: rotate(90deg);
                  right: -27px;
                  top: 3px;
                }
              }
            }
          }

          &.form-cart {
            width: 100%;

            .btn {
              padding: 11px 16px 14px 47px;
            }
          }
        }
      }
    }
  }

  &__title {
    @extend .h3;
    margin-bottom: 23px;
  }

  &__name {
    @extend .text--small;
    margin-bottom: 4px;

    .icon-lock {
      vertical-align: middle;

      &:before {
        font-size: 15px;
      }
    }

    a {
      color: $light-blue;
    }
  }

  &__multilink {
    display: flex;
    justify-content: space-between;
    max-width: 403px;

    h5 {
      margin-bottom: 8px;
      font-weight: 500;

      i {
        margin-right: 3px;
        line-height: 1;
      }
    }
  }

  .btn--cart {
    @extend .btn--full;
  }

  .cart {
    display: flex;
    margin-bottom: 23px !important;
  }

  .list-icons {
    a {
      padding: 0 10px 0 0;
      opacity: .5;

      &:before {
        font-size: 22px;
      }
    }
  }
}

.size-information {
  margin-bottom: 25px;

  &__title {
    font-size: 14px;
    margin-bottom: 5px;

    a {
      color: #396682;
    }
  }

  .item-size {
    font-weight: 600;
    color: $blue;
    display: inline-block;
    background: $gray;
    padding: 11px 15px;
    margin-right: 10px;
    font-size: 14px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.quantity-group {
  min-width: 68px;
  margin-right: 6px;

  .btn {
    max-width: 325px;
  }
}

.woocommerce div.product form.cart div.quantity  {
  margin-right: 10px;
}

.woocommerce .quantity .qty {
  width: 68px;
}
