.box-video {
  text-align: center;

  @media only screen and (min-width: 768px) {
    padding: 44px 0 34px;
  }

  .container {
    @media only screen and (max-width: 767px) {
      margin: 0 auto;
    }
  }

  &__wrap {
    display: flex;
    flex-direction: column-reverse;

    @media only screen and (min-width: 768px) {
      flex-direction: column;
    }
  }

  &__video {
    padding: 0;

    @media only screen and (min-width: 768px) {
      margin-bottom: 30px;
      padding: 0 80px;
    }

    video {
      height: auto;
      width: 100%;
    }
  }

  .video-wrap {
    @media only screen and (max-width: 767px) {
      margin-bottom: 0;
    }
  }

  &__title {
    margin-bottom: 20px;
  }

  .btn {
    width: 100%;

    @media only screen and (max-width: 767px) {
      display: none;
    }

    @media only screen and (min-width: 768px) {
      width: 209px;
    }
  }
}
