.box-feature {
  margin: 200px 0;
  padding: 65px 0 102px;
  text-align: center;
  color: #fff;
  background: #6eb0b5;

  &__title {
    margin-bottom: 10px;
    line-height: normal;
  }

  &__sub-title {
    margin-bottom: 32px;
    font-size: 16px;
    line-height: normal;

    @media only screen and (min-width: 768px) {
      font-size: 21px;
      margin-bottom: 39px;
    }
  }
  
  &__content {
    text-align: center;

    @media only screen and (min-width: 768px) {
      display: flex;
      justify-content: space-between;
    }

    .box-feature__title {
      margin-bottom: 12px;

      @media only screen and (min-width: 768px) {
        font-size: 21px;
        margin-bottom: 16px;
      }
    }

    p {
      margin-bottom: 8px;
      line-height: normal;

      @media only screen and (min-width: 768px) {
        margin-bottom: 14px;
        line-height: 1.5;
      }
    }

    &__left {
      width: 100%;
      margin-bottom: 31px;
      margin-left: 6px;

      @media only screen and (min-width: 768px) {
        width: 50%;
        margin-left: 2px
      }
    }

    &__right {
      width: 100%;
      margin-bottom: 36px;

      .box-feature__title {
        margin-bottom: 16px;
      }

      @media only screen and (min-width: 768px) {
        width: 50%;
      }
    }
  }

  .break {
    display: block;

    @media only screen and (min-width: 768px) {
      display: none;
    }
  }

  .break--bottom {
    display: none;

    @media only screen and (min-width: 768px) {
      display: block;
    }
  }

  .btn {
    width: 100%;

    @media only screen and (min-width: 768px) {
      width: 209px;
    }
  }
}
