.box-image {
  margin-top: 90px;
  margin-bottom: 115px;

  &__item {
    position: relative;
    width: 100%;
  }

  &__image {
    line-height: 0;
    height: 336px;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: -43px;

    @media only screen and (min-width: 768px) {
      margin: 0;
      height: 638px;
    }

    @media only screen and (min-width: 1440px) {
      height: 673px;
    }

    img {
      height: 100%;
      width: auto;
      max-width: inherit;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;

      @media only screen and (min-width: 555px) {
        width: 100%;
        height: auto;
      }

      @media only screen and (min-width: 768px) {
        width: auto;
        height: 100%;
      }

      @media only screen and (min-width: 1440px) {
        height: auto;
        width: 100%;
      }
    }
  }

  &__content {
    @media only screen and (min-width: 768px) {
      position: absolute;
      top: 1px;
    }
  }

  &__wrap {
    @media only screen and (min-width: 768px) {
      display: flex;
    }
  }

  &__title {
    @extend .h2--small;
  }

  &__description {
    margin-bottom: 20px;
    @extend .text--large;

    @media only screen and (min-width: 768px) {
      margin-bottom: 28px;
    }
  }

  &--width-bg {
    margin-top: 100px;
    padding: 44px 0 41px;
    margin-bottom: 193px;

    @media only screen and (min-width: 768px) {
      padding: 82px 0;
    }

    @media only screen and (min-width: 1280px) {
      padding: 45px 0 119px;
    }

    .box-image__title {
      @extend .text--white;
      @extend .h2;
      @media only screen and (min-width: 768px) {
        margin-bottom: 52px;
      }
    }

    .box-image__image {
      margin: 0;
      height: 267px;
      overflow: inherit;

      @media only screen and (min-width: 768px) {
        width: 82%;
      }

      img {
        z-index: 1;
        height: 100%;
        width: auto;

        @media only screen and (min-width: 768px) {
          width: 100%;
          height: auto;
          max-height: 550px;
          max-width: 779px;
          top: 50%;
          left: 50%;
        }

        @media only screen and (min-width: 1280px) {
          top: 64%;
          left: 59%;
        }
      }
    }

    .box-image__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: static;
      margin-bottom: 27px;

      @media only screen and (min-width: 768px) {
        display: block;
        width: 12%;
        margin: 0;
      }
    }

    .box-image__item {
      @media only screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }

  &--width-2cols {
    overflow: hidden;
    margin-bottom: 100px;

    .box-image__item {
      text-align: center;
      margin-bottom: 50px;
      display: inline-block;
      width: auto;

      @media only screen and (min-width: 768px) {
        width: 50%;
        margin: 0;
      }

      &:nth-child(2n) {
        margin-top: 7px;

        .box-image__image {
          text-align: right;

          img {
            max-width: 100%;
            height: 306px;

            @media only screen and (min-width: 1024px) {
              height: 377px;
            }
          }
        }

        .box-image__content {
          right: 0;

          @media only screen and (min-width: 375px) {
            right: 35px;
          }
        }
      }

      &:nth-child(2n+1) {
        .box-image__image {
          text-align: left;

          img {
            max-width: inherit;
            height: 336px;

            @media only screen and (min-width: 1024px) {
              height: 383px;
            }
          }
        }
      }
    }

    .box-image__image {
      overflow: inherit;
      margin: 0;
      height: auto;

      img {
        position: static;
        transform: none;
        width: auto;
        height: auto;
      }
    }

    .box-image__wrap {
      text-align: center;

      @media only screen and (min-width: 768px) {
        justify-content: space-between;
      }
    }

    .box-image__title {
      @media only screen and (min-width: 768px) and (max-width: 1023px) {
        font-size: 30px;
        margin-bottom: 14px;
      }

      @media only screen and (min-width: 1024px) {
        margin-bottom: 23px;
      }
    }

    .box-image__content {
      text-align: left;
      position: absolute;
      top: -8px;
      z-index: 1;
    }
  }
}
