.box-image-text {
  padding: 50px 0;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__content {
    width: 50%;
  }

  &__image {
    width: 50%;
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
