.box-info {
  padding: 42px 0 1px;
  background-size: cover !important;
  background-position: center !important;

  @media only screen and (min-width: 768px) {
    padding: 58px 0 50px;
  }

  &__title {
    text-align: center;
    color: $white;
    margin-bottom: 28px;

    @media only screen and (min-width: 768px) {
      margin-bottom: 37px;
    }
  }

  &__sub-title {
    margin-bottom: 13px;
    color: $cyan;

    @media only screen and (min-width: 768px) {
      margin-bottom: 15px;
    }
  }

  &__list {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__content {
    color: $dark-cyan;
    width: 100%;
    font-size: 16px;
    text-transform: lowercase;
    font-weight: 500;

    @media only screen and (min-width: 768px) {
      min-height: 120px;
    }

    @media only screen and (min-width: 768px)  and (max-width: 1023px) {
      font-size: 13px;
    }

    @media only screen and (min-width: 1024px) {
      min-height: 144px;
    }

    p {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      font-weight: 500;
      color: $dark-cyan;
    }
  }

  &__item {
    width: 100%;
    margin-bottom: 20px;
    padding: 30px 0 23px;
    min-height: 300px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    background: $gray;

    @media only screen and (min-width: 768px) {
      width: calc((100% - 41px)  / 3);
      padding: 23px 0;
      margin-right: 20px;
      background: $white;

      &:last-child {
        margin-right: 0;
      }
    }

    @media only screen and (min-width: 1024px) {
      width: calc((100% - 61px)  / 3);
      margin-right: 30px;
    }
  }

  .btn {
    margin-top: auto;
  }
}
