.box-feature {
  padding: 68px 0 40px;
  text-align: center;
  color: #fff;
  background: #6eb0b5;
  margin-top: -45px;

  &__title {
    margin-bottom: 14px;

    @media only screen and (max-width: 767px) {
      line-height: 1.275;
      margin-bottom: 8px;
    }
  }

  &__sub-title {
    margin-bottom: 32px;
    @extend .text--regular;
    @extend .h4--no-change;

    @media only screen and (min-width: 768px) {
      margin-bottom: 42px;
    }

    @media only screen and (max-width: 767px) {
      font-size: 16px;
    }
  }

  &__content {
    text-align: center;
    margin-bottom: 11px;

    @media only screen and (min-width: 768px) {
      display: flex;
      justify-content: space-between;
    }

    .box-feature__title {
      margin-bottom: 12px;

      @media only screen and (min-width: 768px) {
        margin-bottom: 16px;
      }

      @media only screen and (max-width: 767px) {
        font-size: 21px;
      }
    }

    p {
      margin-bottom: 14px;

      @media only screen and (max-width: 767px) {
        margin-bottom: 7px;
        line-height: 1.5;
      }
    }

    &__left {
      width: 100%;
      margin-left: 6px;

      @media only screen and (min-width: 768px) {
        width: 50%;
        margin-left: 2px
      }

      @media only screen and (max-width: 767px) {
        margin-bottom: 30px;
      }
    }

    &__right {
      width: 100%;

      .box-feature__title {
        margin-bottom: 16px;
      }

      @media only screen and (min-width: 768px) {
        width: 50%;
      }
    }
  }

  &__link {
    @media only screen and (max-width: 767px) {
      margin-top: 34px;
    }
  }

  .break {
    display: block;

    @media only screen and (min-width: 768px) {
      display: none;
    }
  }

  .break--bottom {
    display: none;

    @media only screen and (min-width: 768px) {
      display: block;
    }
  }

  .btn {
    @extend .btn--large;
  }
}
