.box-image-text {
  padding: 27px 0 18px;

  @media only screen and (min-width: 768px) {
    padding: 50px 0 30px;
  }

  h2 {
    margin-bottom: 6px;

    @media only screen and (min-width: 768px) {
      margin-bottom: 28px;
    }
  }

  &__wrap {
    display: flex;
    flex-direction: column;

    @media only screen and (min-width: 768px) {
      align-items: center;
      flex-direction: row;
    }
  }

  &__body {
    width: 100%;
    line-height: normal;

    p {
      margin-bottom: 10px;

      @media only screen and (min-width: 768px) {
        margin-bottom: 12px;
      }
    }

    @media only screen and (min-width: 768px) {
      width: 50%;
      padding-right: 20px;
    }
  }

  &__image {
    width: 100%;
    margin-bottom: 15px;

    img {
      width: 100%;
      height: 100%;
    }

    @media only screen and (min-width: 768px) {
      width: 50%;
      padding-left: 15px;
      margin-top: 18px;
    }
  }

  &--70-30 {
    padding-bottom: 14px;
    padding-top: 0;

    @media only screen and (min-width: 768px) {
      padding: 52px 0;
    }

    .box-image-text__body {
      width: 100%;
      line-height: 1.275;
      margin-bottom: 15px;

      @media only screen and (min-width: 1280px) {
        width: 75%;
        padding-right: 20px;
        margin-top: 18px;
        margin-bottom: 0;
        line-height: 1.5;
        margin-bottom: 17px;
      }

      @media only screen and (min-width: 768px) and (max-width: 1279px) {
        padding: 0;
        margin: 0;
        width: 50%;
      }

      @media only screen and (min-width: 768px) and (max-width: 1023px) {
        font-size: 14px;
      }
    }

    .box-image-text__image {
      width: 100%;
      margin-bottom: 20px;

      img {
        height: auto;
        width: 100%;

        @media only screen and (min-width: 1280px) {
          max-width: inherit;
          height: 100%;
          width: auto;
        }
      }

      @media only screen and (min-width: 1280px) {
        width: 25%;
        line-height: 0;
        margin-right: 156px;
      }

      @media only screen and (min-width: 768px) and (max-width: 1279px) {
        margin-right: 0;
        line-height: 0;
        width: 50%;
      }
    }
  }

  &--image-left {
    padding-top: 38px;
    @extend .bg--orange;

    @media only screen and (min-width: 768px) {
      padding: 20px 0 0 0;
      padding-top: 35px;
    }

    h2 {
      @media only screen and (min-width: 768px) {
        margin-bottom: 15px;
        width: 102%;
      }
    }

    .box-image-text__wrap {
      display: flex;
      flex-direction: column;
      align-items: center;

      @media only screen and (min-width: 768px) {
        display: flex;
        flex-direction: inherit;
        margin: 0 -25px;
        align-items: center;
      }
    }

    .box-image-text__body {
      width: 100%;
      font-size: 21px;

      @media only screen and (min-width: 768px) {
        width: 37%;
        order: 2;
        padding: 0 0 0 49px;
        margin: 0;
      }

      br {
        @media only screen and (max-width: 767px) {
          display: none;
        }
      }
    }

    .box-image-text__image {
      width: 100%;

      img {
        width: 100%;
        height: 100%;

        @media only screen and (min-width: 768px) {
          max-width: inherit;
          height: 100%;
          line-height: 0;
        }
      }

      @media only screen and (min-width: 768px) {
        width: 63%;
        padding: 0;
        order: 1;
        margin: 0;
        padding-right: 6px;
      }
    }

    .box-image-text__link {
      margin-top: 25px;
    }
  }

  &--50-50 {
    padding: 70px 0;

    .box-image-text__wrap {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column-reverse;

      @media only screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
      }
    }

    .box-image-text__image {
      width: 100%;
      padding: 0 0 20px 0;

      @media only screen and (min-width: 768px) {
        padding-left: 40px;
        width: 50%;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    .box-image-text__title {
      margin-bottom: 10px;
    }

    .box-image-text__content-left {
      width: 100%;

      @media only screen and (min-width: 768px) {
        width: 50%
      }
    }
  }

  &.none {
    @media only screen and (max-width: 767px) {
      padding-top: 0;
    }

    .box-image-text__body {
      @media only screen and (max-width: 767px) {
        order: 2;
        font-size: 16px;
      }
    }

    .box-image-text__image {
      @media only screen and (max-width: 767px) {
        width: auto;
        margin-bottom: 15px;
        order: 1;
        margin-left: -20px;
        margin-right: -20px;
      }

      img {
        @media only screen and (max-width: 767px) {
          width: auto;
          height: auto;
          min-height: 238px;
          max-width: inherit;
          position: relative;
          left: 50%;
          transform: translate(-50%, 0);
        }
      }
    }
  }
}
