.box-image-text {
  &--50-50-highpoint {
    padding: 70px 0;

    .box-image-text__wrap {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column-reverse;

      @media only screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
      }
    }

    .box-image-text__image {
      width: 100%;
      padding: 0 0 20px 0;

      @media only screen and (min-width: 768px) {
        padding-left: 40px;
        width: 50%;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    .box-image-text__title {
      margin-bottom: 10px;
    }

    .box-image-text__content-left {
      width: 100%;

      @media only screen and (min-width: 768px) {
        width: 50%
      }
    }
  }

  &--50-50-highpoint-01 {
    padding: 70px 0;
    background: #f2f6f5;

    .box-image-text__wrap {
      flex-wrap: wrap;

      @media only screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
      }
    }

    .box-image-text__image {
      width: 100%;

      @media only screen and (min-width: 768px) {
        width: 70%;
      }

      iframe {
        width: 100%;
        height: 100%;
      }
    }

    .box-image-text__title {
      margin-bottom: 15px;
    }

    .box-image-text__content-left {
      width: 100%;

      @media only screen and (min-width: 768px) {
        width: 30%;
        padding: 20px 0 0 20px;
      }
    }
  }

  &--50-50-thomastown {
    padding: 70px 0;

    .box-image-text__wrap {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column-reverse;

      @media only screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
      }
    }

    .box-image-text__image {
      width: 100%;
      padding: 0 0 20px 0;

      @media only screen and (min-width: 768px) {
        padding-left: 40px;
        width: 50%;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    .box-image-text__title {
      margin-bottom: 10px;
    }

    .box-image-text__content-left {
      width: 100%;

      @media only screen and (min-width: 768px) {
        width: 50%
      }
    }
  }

   &--50-50-thomastown-01 {
    padding: 70px 0;
    background: #f2f6f5;

    .box-image-text__wrap {
      flex-wrap: wrap;

      @media only screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
      }
    }

    .box-image-text__image {
      width: 100%;

      @media only screen and (min-width: 768px) {
        width: 70%;
      }

      iframe {
        width: 100%;
        height: 100%;
      }
    }

    .box-image-text__title {
      margin-bottom: 15px;
    }

    .box-image-text__content-left {
      width: 100%;

      @media only screen and (min-width: 768px) {
        width: 30%;
        padding: 20px 0 0 20px;
      }
    }
  }

  &--50-50-nunawading {
    padding: 70px 0;

    .box-image-text__wrap {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column-reverse;

      @media only screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
      }
    }

    .box-image-text__image {
      width: 100%;
      padding: 0 0 20px 0;

      @media only screen and (min-width: 768px) {
        padding-left: 40px;
        width: 50%;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    .box-image-text__title {
      margin-bottom: 10px;
    }

    .box-image-text__content-left {
      width: 100%;

      @media only screen and (min-width: 768px) {
        width: 50%
      }
    }
  }


  &--50-50-nunawading-01 {
    padding: 70px 0;
    background: #f2f6f5;

    .box-image-text__wrap {
      flex-wrap: wrap;

      @media only screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
      }
    }

    .box-image-text__image {
      width: 100%;

      @media only screen and (min-width: 768px) {
        width: 70%;
      }

      iframe {
        width: 100%;
        height: 100%;
      }
    }

    .box-image-text__title {
      margin-bottom: 15px;
    }

    .box-image-text__content-left {
      width: 100%;

      @media only screen and (min-width: 768px) {
        width: 30%;
        padding: 20px 0 0 20px;
      }
    }
  }
}

.btn {
  display: block;
  width: 45%;
  margin-bottom: 20px;

  @media only screen and (min-width: 768px) {
    display: none
  }
}
