.contact-form {
  padding: 6px 0 24px;

  @media only screen and (min-width: 768px) {
    padding: 61px 0 35px;   
  }


  &__wrap {
    @media only screen and (min-width: 768px) {
      display: flex;
      justify-content: space-around;
    }
  }

  &__title {
    margin-bottom: 24px;
    width: 100%;

    @media only screen and (min-width: 768px) {
      width: 30%;
      margin: 0;
    }

    br {
      @extend .hidden-on-mobile;
    }
  }

  &__form {

    @media only screen and (min-width: 768px) {
      width: 70%;
      padding: 9px 0 0 13px;
    }

    .form-list {
      .form-row {
        margin: 0 0 10px 0;

        &-2cols {
          @media only screen and (min-width: 768px) {
            display: flex;
          }
        }

        .form-item {
          margin: 0 0 10px 0;

          @media only screen and (min-width: 768px) {
            margin: 0 10px 0 0;          
          }


          &:last-of-type {
            margin: 0;
          }

          textarea {
            height: 80px;
          }

          > span {
            display: block;
            line-height: 0;
          }
        }

        &:last-of-type {
          @media only screen and (min-width: 768px) {
            display: flex;          
          }


          .form-item {
            &:first-of-type {
              @media only screen and (min-width: 768px) {
                width: 100%;              
              }
            }

            input[type="submit"],
            button[type="submit"] {
              @media only screen and (max-width: 767px) {
                width: 100%;
              }
            }

            label {
              span {
                display: none;
              }
            }

            .ajax-loader {
              display: none;
            }
          }
        }
      }
    }
  }
}
