.form-fixed {
  position: fixed;
  right: -350px;
  top: 17%;
  z-index: 10;
  transition: .5s;

  @media only screen and (min-width: 1024px) {
    top: 25%;
  }

  @media only screen and (max-width: 767px) {
    display: none;
  }

  &.is-active {
    box-shadow: 0 0px 15px -5px #555;
    right: 0;
  }

  .form-item--submit {
    margin-bottom: 0;
  }

  .request-form {
    padding: 30px;
    background: $white;
    width: 350px;

    .form-list {
      display: block;

      .form-item {
        padding: 0;
      }
    }

    &__title {
      @extend .text--tiny;
      position: absolute;
      background-color: $blue;
      bottom: 100%;
      width: 152px;
      margin: 0;
      right: 100%;
      line-height: 1;
      transform-origin: right bottom;
      transform: rotate(-90deg);
      height: 43px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
}
