.grid-products {
  padding: 30px 0;
  background: #f2f6f5;

  @media only screen and (min-width: 768px) {
    padding: 42px 0 38px;
  }

  &__image {
    line-height: 0;
    text-align: center;
    padding: 14px 20px;

    @media only screen and (min-width: 1440px) {
      img {
        width: 100%;
        height: auto;
      }
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 0 17px;

    @media only screen and (min-width: 480px) {
      margin: 0 -10px;
      padding: 0;
    }

    @media only screen and (min-width: 768px) {
      margin: 0 -15px;
    }
  }

  &__item {
    background: $white;
    margin: 0 0 20px 0;
    padding: 0 0 13px;
    width: 100%;
    min-height: 315px;
    display: flex;
    flex-direction: column;

    @media only screen and (min-width: 1440px) {
      min-height: 420px;
    }

    @media only screen and (min-width: 480px) {
      margin: 10px;
      width: calc((100% - 41px) / 2);
    }

    @media only screen and (min-width: 768px) {
      margin: 15px;
      width: calc((100% - 91px) / 3);
    }

    &:last-child {
      @media only screen and (max-width: 479px) {
        margin: 0;
      }
    }
  }

  &__promotion {
    padding: 0;

    a {
      overflow: hidden;
      position: relative;
      height: 100%;
      background: $dark-blue;

      img {
        height: auto;
        width: 100%;
        max-width: inherit;
        max-height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  &__title {
    @extend .text--bold;
    @extend .h4--no-change;
    padding: 10px 0 0 16px;

    @media only screen and (min-width: 768px) {
      padding: 8px 0px 0px 17px;
    }

    &:hover {
      color: $cyan;
    }
  }

  &__sub-title {
    padding: 6px 0 0 16px;
    @extend .text--regular;

    @media only screen and (min-width: 768px) {
      padding: 0 0 0 16px;
    }
  }

  &__body {
    @extend .text--tiny;

    @media only screen and (min-width: 768px) {
      font-size: 14px;
    }

    del,
    ins {
      span {
        font-size: 16px;
      }
    }

    ins {
      text-decoration: none;
      @extend .text--red-bold;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    padding: 0 17px;
    margin-top: auto;
    margin-top: 10px;

    .btn {
      @extend .btn--no-bg;
      padding: 0 12px 0 0;
      margin-top: 2px;
      min-width: 92px;

      span {
        &:before {
          right: -12px;
          font-size: 12px;
        }
      }

      &:hover {
        color: $cyan;
      }
    }
  }

  &__price {
    @extend .text--normal;
  }

  &--sale {
    .grid-products__color{
      @extend .text--red-bold;
      margin-left: 3px;
    }
  }

  &--width-slide {
    @extend .bg--gray;
    padding: 46px 0 20px;

    .grid-products__list {
      overflow: hidden;
      padding: 0;

      @media only screen and (max-width: 767px) {
        margin: 0 -10px;
      }
    }

    .slick-list {
      width: 100%;
    }

    @media only screen and (min-width: 768px) {
      background: $white;
      padding: 42px 0 19px;
    }

    .grid-products__item {
      padding: 0 10px;
      background: none;
      margin: 0;
      min-height: inherit;
      margin-bottom: 29px;

      @media only screen and (min-width: 1024px) {
        padding: 0 14.5px;
        background: $white;
      }
    }

    .grid-products__body {
      @extend .text--tiny;

      @media only screen and (min-width: 768px) {
        font-size: 14px;
      }
    }

    .grid-products__title {
      @extend .h4--small;
      padding: 7px 0 0px 0;
      line-height: 1.2;
      margin-bottom: 4px;

      @media only screen and (min-width: 768px) {
        padding: 4px 5px 0 5px;
      }
    }

    .grid-products__content {
      padding: 0;
      margin-top: 0;

      @media only screen and (min-width: 768px) {
        padding: 0 0 0 6px;
      }
    }

    .grid-products__image {
      padding: 0;

      img {
        width: 100%;
        height: auto;
        max-width: inherit;
      }
    }

    .grid-products__sub-title,
    .grid-products__content .btn {
      display: none;
    }

    .slick-prev,
    .slick-next {
      background: rgba($gray, .75);

      &:before {
        color: $blue;
      }
    }

    .slick-next {
      right: 12px;
    }

    .slick-prev {
      left: 15px;
    }
  }
}

.woocommerce-Price-amount {
  font-size: 12px;

  @media only screen and (min-width: 768px) {
    font-size: 16px;
  }
}
