.my-login {
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;

  @media only screen and (min-width: 1025px) {
    width: auto;
  }

  @media only screen and (max-width: 1024px) {
    padding: 0 20px;
    text-align: center;
    justify-content: center;
  }

  a {
    color: $white;
    @extend %link--small;

    &.account {
      padding:  0 15px 0 25px;
      position: relative;

      &:before {
        position: absolute;
        border-left: 1px solid $light-gray;
        content: '';
        left: 0;
        top: 50%;
        height: 12px;
        width: 1px;
        margin-top: -6px;

        @media only screen and (max-width: 1024px) {
          display: none;
        }
      }

      @media only screen and (max-width: 1024px) {
        font-size: 16px;
        padding: 5px 0 12px;
      }
    }

    &.cart {
      @media only screen and (max-width: 1024px) {
        display: none;
      }
    }
  }
}
