.my-login {
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;

  @media only screen and (min-width: 1025px) {
    width: auto;
  }

  @media only screen and (max-width: 1024px) {
    padding: 0 20px;
    text-align: center;
    justify-content: center;
  }

  a {
    color: $white;
    @extend %link--small;

    &.account {
      padding:  0 15px 0 25px;
      position: relative;

      &:before {
        position: absolute;
        border-left: 1px solid $light-gray;
        content: '';
        left: 0;
        top: 50%;
        height: 12px;
        width: 1px;
        margin-top: -6px;

        @media only screen and (max-width: 1024px) {
          display: none;
        }
      }

      @media only screen and (max-width: 1024px) {
        font-size: 16px;
        padding: 5px 0 12px;
      }
    }

    &.cart {
      @media only screen and (max-width: 1024px) {
        display: none;
      }
    }
  }
}

.header {
  .cart {
    position: relative;

    span {
      position: absolute;
      top: -8px;
      right: -18px;
      background: $red;
      width: 18px;
      height: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      font-size: 10px;
      padding-bottom: 2px;
      color: $white;
      font-weight: 600;
    }

    &.car-mb span {
      top: 8px;
      right: 0;
    }
  }
}
