.woocommerce-pagination {
  margin-top: 35px;

  ul {
    border: 0 !important;
  }

  li {
    margin: 0 5px 5px 0 !important;
    border: 0 !important;

    a, span {
      width: 30px;
      height: 30px;
      padding: 6px 0 !important;
      text-align: center;
      background: $white;
      border: 2px solid $white;
      font-size: 14px !important;

      &.current {
        background: $white !important;
        border-color: $orange;
      }
    }

    i {
      line-height: 0;

      &:before {
        font-size: 9px;
      }
    }

    a {
      &.next,
      &.prev {
        width: 81px;
        background: $dark-blue;
        border-color: $dark-blue;
        color: $white;
        padding: 4px !important;

        &:hover {
          background: lighten($dark-blue, 10%)!important;
          border-color: lighten($dark-blue, 10%)!important;
          color: $white !important;
        }
      }

      &:hover {
        background: $white !important;
        border-color: $orange;
      }
    }

    a.prev i {
      transform: rotate(180deg);
      display: inline-block;
      position: relative;
    }
  }
}

.pagination {
  a {
    &.next,
    &.prev {
      width: 81px;
      background: $dark-blue;
      border-color: $dark-blue;
      color: $white;
      padding: 2px;

      &:hover {
        background: lighten($dark-blue, 10%);
        border-color: lighten($dark-blue, 10%);
        color: $white !important;
      }
    }

    &:hover {
      background: $white;
      border-color: $orange;
    }
  }

  a, span {
    width: 30px;
    height: 30px;
    padding: 2px 0;
    text-align: center;
    background: $gray;
    border: 2px solid $gray;
    font-size: 14px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;

    &:last-child {
      margin-right: 0;
    }

    &.current {
      background: $white;
      border-color: $orange;
    }
  }
}
