.request-form {
  background: $dark-blue;
  padding: 33px 0;

  @media only screen and (min-width: 768px) {
    padding: 60px 0;
  }

  form {
    margin-bottom: -5px;

    @media only screen and (min-width: 768px) {
      margin-bottom: -25px;
    }
  }

  &__title {
    margin-bottom: 29px;
    text-align: center;
    color: $white;

    @media only screen and (min-width: 768px) {
      text-align: center;
      margin-bottom: 27px;
    }
  }

  .form-list {
    flex-wrap: wrap;
    margin: 0;

    @media only screen and (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      margin: 0 -10px;
      flex-wrap: nowrap;
    }
  }

  .form-item {
    margin: 0 0 10px;
    background: none;

    @media only screen and (min-width: 768px) {
      width: 100%;
      padding: 0 10px;
    }

    &--submit {
      width: 100%;

      @media only screen and (min-width: 768px) {
        width: auto;
      }
    }
  }

  .btn {
    display: block;
    width: 100%;
  }
}
