.rs-tabs {
  margin-top: 55px;
  margin-bottom: 33px;

  @media only screen and (min-width: 768px) {
    margin-top: 26px;
  }

  .container {
    @media only screen and (max-width: 767px) {
      width: 100%;
      padding: 0;
      margin: 0;
    }
  }

  &__wrap {
    @media only screen and (min-width: 768px) {
      padding: 0 67px;
    }

    > ul {
      display: none;

      @media only screen and (min-width: 768px) {
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }

      li {
        text-transform: lowercase;

        @media only screen and (min-width: 768px) {
          padding: 0 32px 0 0;
        }

        &.active {
          span {
            @media only screen and (min-width: 768px) {
              border-bottom: 2px solid $blue;
            }
          }
        }

        span {
          @extend .text--normal;
          line-height: 1.35;
          display: inline-block;
          border-bottom: 2px solid transparent;
          padding: 16px 16px 16px 15px;
          cursor: pointer;
        }
      }
    }
  }

  &__body {
    @media only screen and (min-width: 768px) {
      margin-top: -1px;
      border-top: 1px solid $gray;
    }

    > ul {
      > li {
        border-top: 2px solid $gray;

        @media only screen and (min-width: 768px) {
          display: none;
        }

        &:last-of-type {
          border-bottom: 2px solid $gray;

          @media only screen and (min-width: 768px) {
            border-bottom: 0;
          }
        }

        &.active {
          @media only screen and (min-width: 768px) {
            display: block;

            .rs-tabs__content {
              display: block;
            }
          }
        }

        > span {
          @extend .text--normal;
          line-height: 1.35;
          display: inline-block;
          width: 100%;
          position: relative;
          padding: 12px 20px 17px;
          cursor: pointer;
          text-transform: lowercase;

          @media only screen and (min-width: 768px) {
            display: none;
            padding: 14px 20px 17px;
          }

          &.active {
            i {
              transform: translateY(-50%) rotate(270deg);
            }
          }

          i {
            position: absolute;
            right: 29px;
            top: 50%;
            transform: translateY(-50%) rotate(90deg);
          }
        }
      }
    }
  }

  &__content {
    @extend .text--small;
    background: $gray;
    display: none;
    padding: 16px 20px 27px;


    @media only screen and (min-width: 768px) {
      padding: 14px 16px;
      max-width: 482px;
    }

    &.active {
      display: block;
    }

    @media only screen and (min-width: 768px) {
      background: none;
    }

    ul, ol {
      padding-left: 20px;
      margin-bottom: 15px;

      a {
        display: block;
      }
    }

    ul li {
      list-style: disc;
    }

    ol li {
      list-style: decimal;
    }
  }
}
