<div class="accordion">
  <div class="container">
    <div class="accordion__list">
      <div class="accordion__item">
        <h4 class="accordion__title is-show"><a href="">What is the right mattress for me?</a></h4>

        <div class="accordion__content show">
          <p><span class="read-more">Every person is different. Different weights, shapes, ages, with different sensitivities and sleeping preferences. Some people are highly allergic to different materials as well as molds and dust mites. Some want all natural materials and minimal synthetics. Some people are hot sleepers, others are cold sleepers. Some have injuries affecting back, hips, neck, shoulders etc, and some have degenerative illnesses such as osteoporosis.</span></p>
          <p><span class="read-more">The beauty of shopping at rise+shine is that all our stores have a ‘Bed Test Area’ in which the mattresses are there for you to test out and try before you buy! We encourage you to take your time, trying out mattresses on your back or side, just like you normally sleep to make sure its right for you. Our staff have been trained by health professionals to be able to recommend a mattress that is right for you. So ask the experts at rise+shine and test for yourself.</span></p>
        </div>
      </div>
      
      <div class="accordion__item">
        <h4 class="accordion__title is-show"><a href="">How long should my mattress last?</a></h4>

        <div class="accordion__content show">
          <p><span class="read-more">Every person is different. Different weights, shapes, ages, with different sensitivities and sleeping preferences. Some people are highly allergic to different materials as well as molds and dust mites. Some want all natural materials and minimal synthetics. Some people are hot sleepers, others are cold sleepers. Some have injuries affecting back, hips, neck, shoulders etc, and some have degenerative illnesses such as osteoporosis.</span></p>
          <p><span class="read-more">The beauty of shopping at rise+shine is that all our stores have a ‘Bed Test Area’ in which the mattresses are there for you to test out and try before you buy! We encourage you to take your time, trying out mattresses on your back or side, just like you normally sleep to make sure its right for you. Our staff have been trained by health professionals to be able to recommend a mattress that is right for you. So ask the experts at rise+shine and test for yourself.</span></p>
        </div>
      </div>

      <div class="accordion__item">
        <h4 class="accordion__title is-show"><a href="">How often should I turn my mattress?</a></h4>

        <div class="accordion__content show">
          <p><span class="read-more">Every person is different. Different weights, shapes, ages, with different sensitivities and sleeping preferences. Some people are highly allergic to different materials as well as molds and dust mites. Some want all natural materials and minimal synthetics. Some people are hot sleepers, others are cold sleepers. Some have injuries affecting back, hips, neck, shoulders etc, and some have degenerative illnesses such as osteoporosis.</span></p>
          <p><span class="read-more">The beauty of shopping at rise+shine is that all our stores have a ‘Bed Test Area’ in which the mattresses are there for you to test out and try before you buy! We encourage you to take your time, trying out mattresses on your back or side, just like you normally sleep to make sure its right for you. Our staff have been trained by health professionals to be able to recommend a mattress that is right for you. So ask the experts at rise+shine and test for yourself.</span></p>
        </div>
      </div>

      <div class="accordion__item">
        <h4 class="accordion__title is-show"><a href="">What do growing kids really need?</a></h4>

        <div class="accordion__content show">
          <p><span class="read-more">Every person is different. Different weights, shapes, ages, with different sensitivities and sleeping preferences. Some people are highly allergic to different materials as well as molds and dust mites. Some want all natural materials and minimal synthetics. Some people are hot sleepers, others are cold sleepers. Some have injuries affecting back, hips, neck, shoulders etc, and some have degenerative illnesses such as osteoporosis.</span></p>
          <p><span class="read-more">The beauty of shopping at rise+shine is that all our stores have a ‘Bed Test Area’ in which the mattresses are there for you to test out and try before you buy! We encourage you to take your time, trying out mattresses on your back or side, just like you normally sleep to make sure its right for you. Our staff have been trained by health professionals to be able to recommend a mattress that is right for you. So ask the experts at rise+shine and test for yourself.</span></p>
        </div>
      </div>

      <div class="accordion__item">
        <h4 class="accordion__title is-show"><a href="">How hard should my mattress be?</a></h4>

        <div class="accordion__content show">
          <p><span class="read-more">Every person is different. Different weights, shapes, ages, with different sensitivities and sleeping preferences. Some people are highly allergic to different materials as well as molds and dust mites. Some want all natural materials and minimal synthetics. Some people are hot sleepers, others are cold sleepers. Some have injuries affecting back, hips, neck, shoulders etc, and some have degenerative illnesses such as osteoporosis.</span></p>
          <p><span class="read-more">The beauty of shopping at rise+shine is that all our stores have a ‘Bed Test Area’ in which the mattresses are there for you to test out and try before you buy! We encourage you to take your time, trying out mattresses on your back or side, just like you normally sleep to make sure its right for you. Our staff have been trained by health professionals to be able to recommend a mattress that is right for you. So ask the experts at rise+shine and test for yourself.</span></p>
        </div>
      </div>

      <div class="accordion__item">
        <h4 class="accordion__title is-show"><a href="">I like plush and he likes firm, what’s best for us?</a></h4>

        <div class="accordion__content show">
          <p><span class="read-more">Every person is different. Different weights, shapes, ages, with different sensitivities and sleeping preferences. Some people are highly allergic to different materials as well as molds and dust mites. Some want all natural materials and minimal synthetics. Some people are hot sleepers, others are cold sleepers. Some have injuries affecting back, hips, neck, shoulders etc, and some have degenerative illnesses such as osteoporosis.</span></p>
          <p><span class="read-more">The beauty of shopping at rise+shine is that all our stores have a ‘Bed Test Area’ in which the mattresses are there for you to test out and try before you buy! We encourage you to take your time, trying out mattresses on your back or side, just like you normally sleep to make sure its right for you. Our staff have been trained by health professionals to be able to recommend a mattress that is right for you. So ask the experts at rise+shine and test for yourself.</span></p>
        </div>
      </div>

      <div class="accordion__item">
        <h4 class="accordion__title is-show"><a href="">Does it make a difference which position I sleep in?</a></h4>

        <div class="accordion__content show">
          <p><span class="read-more">Every person is different. Different weights, shapes, ages, with different sensitivities and sleeping preferences. Some people are highly allergic to different materials as well as molds and dust mites. Some want all natural materials and minimal synthetics. Some people are hot sleepers, others are cold sleepers. Some have injuries affecting back, hips, neck, shoulders etc, and some have degenerative illnesses such as osteoporosis.</span></p>
          <p><span class="read-more">The beauty of shopping at rise+shine is that all our stores have a ‘Bed Test Area’ in which the mattresses are there for you to test out and try before you buy! We encourage you to take your time, trying out mattresses on your back or side, just like you normally sleep to make sure its right for you. Our staff have been trained by health professionals to be able to recommend a mattress that is right for you. So ask the experts at rise+shine and test for yourself.</span></p>
        </div>
      </div>

      <div class="accordion__item">
        <h4 class="accordion__title is-show"><a href="">Can I just buy a mattress and not a base?</a></h4>

        <div class="accordion__content show">
          <p><span class="read-more">Every person is different. Different weights, shapes, ages, with different sensitivities and sleeping preferences. Some people are highly allergic to different materials as well as molds and dust mites. Some want all natural materials and minimal synthetics. Some people are hot sleepers, others are cold sleepers. Some have injuries affecting back, hips, neck, shoulders etc, and some have degenerative illnesses such as osteoporosis.</span></p>
          <p><span class="read-more">The beauty of shopping at rise+shine is that all our stores have a ‘Bed Test Area’ in which the mattresses are there for you to test out and try before you buy! We encourage you to take your time, trying out mattresses on your back or side, just like you normally sleep to make sure its right for you. Our staff have been trained by health professionals to be able to recommend a mattress that is right for you. So ask the experts at rise+shine and test for yourself.</span></p>
        </div>
      </div>
    </div>
  </div>
</div>
