<div class="box-icon bg--gray">
  <div class="container">
    <div class="box-icon__content">
      <div class="box-icon__item">
        <div class="box-icon__image">
          <img src="../../images/WhyChooseUs_icon1.svg" alt="">
        </div>

        <h4 class="box-icon__title">we assemble</h4>
      </div>

      <div class="box-icon__item">
        <div class="box-icon__image">
          <img src="../../images/WhyChooseUs_icon2.svg" alt="">
        </div>

        <h4 class="box-icon__title">delivery</h4>
      </div>

      <div class="box-icon__item">
        <div class="box-icon__image">
          <img src="../../images/WhyChooseUs_icon3.svg" alt="">
        </div>

        <h4 class="box-icon__title">custom design</h4>
      </div>

      <div class="box-icon__item">
        <div class="box-icon__image">
          <img src="../../images/WhyChooseUs_icon4.svg" alt="">
        </div>

        <h4 class="box-icon__title">unbeatable price</h4>
      </div>

      <div class="box-icon__item">
        <div class="box-icon__image">
          <img src="../../images/WhyChooseUs_icon5.svg" alt="">
        </div>
        
        <h4 class="box-icon__title">120 night<br> comfort promise</h4>
      </div>
    </div>
  </div>
</div>
