<div class="container">
  <div class="button-background" style="margin-top: 100px;">
    <h2>H2: button background</h2>
    <p><a class="btn" href="#"><span>button default <i class="icon-arrow"></i></span></a></p>
    <p><a class="btn btn--red" href="#"><span>button red <i class="icon-arrow"></i></a></span></p>
    <p><a class="btn btn--orange" href="#"><span>button orange <i class="icon-arrow"></i></a></span></p>
    <p><a class="btn btn--light-indigo" href="#"><span>button light indigo<i class="icon-arrow"></i></span></a></p>
    <p><a class="btn btn--blue" href="#"><span>button blue <i class="icon-arrow"></i></a></span></p>
  </div>

  <div class="button-size">
    <h2>H2: button size</h2>
    <p><a class="btn" href="#"><span>button default <i class="icon-arrow"></i></span></a></p>
    <p><a class="btn btn--full" href="#"><span>button full <i class="icon-arrow"></i></span></a></p>
    <p><a class="btn btn--large" href="#"><span>button large 209px <i class="icon-arrow"></i></span></a></p>
  </div>
</div>
