<div class="box-info">
  <div class="container">
    <h2 class="box-info__title">our stores</h2>
    <div class="box-info__list">
      <div class="box-info__item">
        <h3 class="box-info__sub-title">highpoint</h3>

        <div class="box-info__content">
          <p>highpoint homemaker centre<br> 13/179 rosamond road,<br> maribyrnong VIC 3032</p>
          <p> (03) 9317 3338</p>
          <p>highpoint@riseandshine.com.au</p>
        </div>

        <a class="btn" href="#"><span>get directions <i class="icon-arrow"></i></span></a>
      </div>

      <div class="box-info__item">
        <h3 class="box-info__sub-title">thomastown</h3>

        <div class="box-info__content">
          <p>thomastown homemaker centre<br> 6 / 308 settlement road<br> thomastown VIC 3074</p>
          <p> (03) 9465 2536</p>
          <p>thomastown@riseandshine.com.au</p>
        </div>

        <a class="btn" href="#"><span>get directions <i class="icon-arrow"></i></span></a>
      </div>

      <div class="box-info__item">
        <h3 class="box-info__sub-title">nunawading</h3>

        <div class="box-info__content">
          <p>314 whitehorse road<br> 6 / 308 settlement road<br> nunawading VIC 3131</p>
          <p> (03) 9894 8666</p>
          <p>nunawading@riseandshine.com.au</p>
        </div>

        <a class="btn" href="#"><span>get directions <i class="icon-arrow"></i></span></a>
      </div>
    </div>
  </div>
</div>
