<div class="box-filter is-hidden">
  <div class="container">
    <div class="box-filter__wrap">
      <div class="box-filter__top">
        <h5 class="box-filter__title">Category</h5>

        <ul>
          <li><a href="#">mattresses</a></li>
          <li><a href="#">bedroom furniture</a></li>
          <li><a href="#">electric beds</a></li>
          <li><a href="#">bedding essentials</a></li>
          <li class="hidden-on-mobile"><a href="#">sale</a></li>
        </ul>
      </div>

      <div class="box-filter__bottom">
        <h5 class="box-filter__title">Filters</h5>

        <div class="box-filter__body">
          <span class="js-show btn btn--depend"><span>more filters</span></span>

          <div class="box-filter__sort">
            <span class="js-sort btn btn--depend"><span>sort: recommended</span></span>

            <ul>
              <li><a href="#" class="btn btn--depend">1</a></li>
              <li><a href="#" class="btn btn--depend">2</a></li>
              <li><a href="#" class="btn btn--depend">3</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="box-filter__aside is-hidden">
    <div class="box-filter__item">
      <div class="container">
        <form action="">
          <div class="form-item form-top">
            <span class="js-back-home">back</span>
            <input type="reset" name="" value="clear all">
          </div>

          <div class="form-item">
            <input type="checkbox" name="" id="1">
            <label class="reverse" for="1">sale</label>
          </div>

          <div class="form-list">
            <div class="form-item js-type">
              <span class="btn btn--depend"><span>type</span></span>
            </div>
            <div class="form-item js-size">
              <span class="btn btn--depend"><span>size</span></span>
            </div>
            <div class="form-item js-comfort">
              <span class="btn btn--depend"><span>comfort</span></span>
            </div>
            <div class="form-item js-colour">
              <span class="btn btn--depend"><span>colour</span></span>
            </div>
          </div>

          <div class="form-list">
            <div class="form-item">
              <span>$ min</span>
            </div>
            <div class="form-item">
              <span>$ max</span>
            </div>
          </div>

          <div class="form-item">
            <button type="submit" class="btn--full btn">go</button>
          </div>
        </form>
      </div>
    </div>

    <div class="box-filter__last come-back is-type">
      <div class="container">
        <form action="">
          <div class="form-item form-top">
            <span class="js-back">back</span>
            <input type="reset" name="" value="clear all">
          </div>

          <div class="form-caption">size</div>

          <div class="form-list">
            <div class="form-item">
              <input type="checkbox" name="" id="2">
              <label class="reverse" for="2">king</label>
            </div>

            <div class="form-item">
              <input type="checkbox" name="" id="3">
              <label class="reverse" for="3">queen</label>
            </div>

            <div class="form-item">
              <input type="checkbox" name="" id="4">
              <label class="reverse" for="4">double</label>
            </div>

            <div class="form-item">
              <input type="checkbox" name="" id="5">
              <label class="reverse" for="5">king single</label>
            </div>

            <div class="form-item">
              <input type="checkbox" name="" id="6">
              <label class="reverse" for="6">single</label>
            </div>
          </div>

          <div class="form-item">
            <button type="submit" class="btn--full btn">go</button>
          </div>
        </form>
      </div>
    </div>

    <div class="box-filter__last come-back is-size">
      <div class="container">
        <form action="">
          <div class="form-item form-top">
            <span class="js-back">back</span>
            <input type="reset" name="" value="clear all">
          </div>

          <div class="form-caption">size</div>

          <div class="form-list">
            <div class="form-item">
              <input type="checkbox" name="" id="2">
              <label class="reverse" for="2">king</label>
            </div>

            <div class="form-item">
              <input type="checkbox" name="" id="3">
              <label class="reverse" for="3">queen</label>
            </div>

            <div class="form-item">
              <input type="checkbox" name="" id="4">
              <label class="reverse" for="4">double</label>
            </div>

            <div class="form-item">
              <input type="checkbox" name="" id="5">
              <label class="reverse" for="5">king single</label>
            </div>

            <div class="form-item">
              <input type="checkbox" name="" id="6">
              <label class="reverse" for="6">single</label>
            </div>
          </div>

          <div class="form-item">
            <button type="submit" class="btn--full btn">go</button>
          </div>
        </form>
      </div>
    </div>

    <div class="box-filter__last come-back is-comfort">
      <div class="container">
        <form action="">
          <div class="form-item form-top">
            <span class="js-back">back</span>
            <input type="reset" name="" value="clear all">
          </div>

          <div class="form-caption">size</div>

          <div class="form-list">
            <div class="form-item">
              <input type="checkbox" name="" id="2">
              <label class="reverse" for="2">king</label>
            </div>

            <div class="form-item">
              <input type="checkbox" name="" id="3">
              <label class="reverse" for="3">queen</label>
            </div>

            <div class="form-item">
              <input type="checkbox" name="" id="4">
              <label class="reverse" for="4">double</label>
            </div>

            <div class="form-item">
              <input type="checkbox" name="" id="5">
              <label class="reverse" for="5">king single</label>
            </div>

            <div class="form-item">
              <input type="checkbox" name="" id="6">
              <label class="reverse" for="6">single</label>
            </div>
          </div>

          <div class="form-item">
            <button type="submit" class="btn--full btn">go</button>
          </div>
        </form>
      </div>
    </div>

    <div class="box-filter__last come-back is-colour">
      <div class="container">
        <form action="">
          <div class="form-item form-top">
            <span class="js-back">back</span>
            <input type="reset" name="" value="clear all">
          </div>

          <div class="form-caption">size</div>

          <div class="form-list">
            <div class="form-item">
              <input type="checkbox" name="" id="2">
              <label class="reverse" for="2">king</label>
            </div>

            <div class="form-item">
              <input type="checkbox" name="" id="3">
              <label class="reverse" for="3">queen</label>
            </div>

            <div class="form-item">
              <input type="checkbox" name="" id="4">
              <label class="reverse" for="4">double</label>
            </div>

            <div class="form-item">
              <input type="checkbox" name="" id="5">
              <label class="reverse" for="5">king single</label>
            </div>

            <div class="form-item">
              <input type="checkbox" name="" id="6">
              <label class="reverse" for="6">single</label>
            </div>
          </div>

          <div class="form-item">
            <button type="submit" class="btn--full btn">go</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>