<div class="box-info">
  <div class="container">
    <h2 class="box-info__title">our stores</h2>
    <div class="box-info__list">
      <div class="box-info__item">
        <h3 class="box-info__sub-title">highpoint</h3>

        <div class="box-info__content">
          <p>highpoint homemaker centre<br> 13 / 179 rosamond road,<br> maribyrnong VIC 3032</p>
					<p><a title="" href="tel:+61393173338">(03) 9317 3338</a></p>
					<p><a href="mailto:highpoint@riseandshine.com.au">highpoint@riseandshine.com.au</a></p>
        </div>
        <div class="box-info__link">
          <a class="btn btn--arrow" href="https://www.google.com.au/maps/dir//rise+and+shine+HIGHPOINT/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x6ad65dcdd93b1ce1:0xab6b2be4d8aa75b7?sa=X&amp;ved=2ahUKEwig0-a-6ejdAhUUQd4KHW6gCpMQ9RcwC3oECAoQEQ" target="_blank" rel="noopener"><span>Get Directions</span></a>
        </div>
      </div>

      <div class="box-info__item">
        <h3 class="box-info__sub-title">thomastown</h3>
        <div class="box-info__content">
          <p>thomastown homemaker centre<br> 6 / 308 settlement road<br> thomastown VIC 3074</p>
					<p><a title="" href="tel:+61394652536">(03) 9465 2536</a></p>
					<p><a href="mailto:thomastown@riseandshine.com.au">thomastown@riseandshine.com.au</a></p>
        </div>
        <div class="box-info__link">
          <a class="btn btn--arrow" href="https://www.google.com.au/maps/dir/-37.8369931,144.97435/rise+and+shine+thomastown/@-37.7613478,144.8881528,12z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x6ad64f41fff3f897:0x4f57816847a9cab2!2m2!1d145.0265148!2d-37.688828" target="_blank" rel="noopener"><span>Get Directions</span></a>
        </div>
      </div>

      <div class="box-info__item">
        <h3 class="box-info__sub-title">nunawading</h3>

        <div class="box-info__content">
          <p>314 whitehorse road<br> nunawading VIC 3131</p>
					<p><a title="" href="tel:+61398948666">(03) 9894 8666</a></p>
					<p><a href="mailto:nunawading@riseandshine.com.au">nunawading@riseandshine.com.au</a></p>
        </div>

        <div class="box-info__link">
          <a class="btn btn--arrow" href="https://www.google.com.au/maps/dir//rise+and+shine+nunawading/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x6ad638d09b53080d:0x4a38b08b9c59dc51?hl=en-AU&amp;sa=X&amp;sqi=2&amp;ved=2ahUKEwjYptXY6ejdAhVIPHAKHfPfBA0Q9RcwDnoECAcQEw" target="_blank" rel="noopener"><span>Get Directions</span></a>
        </div>
      </div>
    </div>
  </div>
</div>
