<div class="grid-image">
  <div class="container">
    <div class="grid-image__wrap">
      <div class="grid-image__item">
        <div class="grid-image__content">
          <h3 class="grid-image__title"><a href="">mattresses</a></h3>
          <div class="grid-image__body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          </div>
        </div>

        <div class="grid-image__image">
          <a href=""><img src="../../../../images/riseandshine-mattresses.jpg" alt=""></a>
        </div>
      </div>

      <div class="grid-image__item">
        <div class="grid-image__content">
          <h3 class="grid-image__title"><a href="">bedroom furniture</a></h3>
        </div>

        <div class="grid-image__image">
          <a href=""><img src="../../../../images/riseandshine-bedroom-funiture.jpg" alt=""></a>
        </div>
      </div>

      <div class="grid-image__item">
        <div class="grid-image__image">
          <a href=""><img src="../../../../images/riseandshine-renovation-sale.jpg" alt=""></a>
        </div>
      </div>

      <div class="grid-image__item">
        <div class="grid-image__content">
          <h3 class="grid-image__title"><a href="">electric beds</a></h3>
        </div>

        <div class="grid-image__image">
          <a href=""><img src="../../../../images/riseandshine-electric-beds.jpg" alt=""></a>
        </div>
      </div>

      <div class="grid-image__item">
        <div class="grid-image__content">
          <h3 class="grid-image__title"><a href="">bed in a bag</a></h3>
        </div>

        <div class="grid-image__image">
          <a href=""><img src="../../../../images/riseandshine-bed-in-a-bag.jpg" alt=""></a>
        </div>
      </div>

      <div class="grid-image__item">
        <div class="grid-image__content">
          <h3 class="grid-image__title"><a href="">bedding essentials</a></h3>
        </div>

        <div class="grid-image__image">
          <a href="https://www.google.com.vn/"><img src="../../../../images/riseandshine-bedding-essentials.jpg" alt=""></a>
        </div>
      </div>
    </div>
  </div>
</div>
