<div class="grid-products grid-products--bedding-essential">
  <div class="container">
    <div class="grid-products__list">
      <div class="grid-products__item">
        <div class="grid-products__image">
          <img src="../../../../images/grid-products-32.jpg" alt="">
        </div>

        <h4 class="grid-products__title">Custom made fabric storage<br> box</h4>

        <div class="grid-products__content">
          <div class="grid-products__body">
            <p><span class="line-through">was $999</span>  <span class="color">now $599</span></p>
          </div>

          <a href="" class="btn">view product</a>
        </div>
      </div>

      <div class="grid-products__item">
        <div class="grid-products__image">
          <img src="../../../../images/grid-products-33.jpg" alt="">
        </div>

        <h4 class="grid-products__title">Custom made fabric bedhead </h4>

        <div class="grid-products__content">
          <div class="grid-products__body">
            <p>$399</p>
          </div>

          <a href="" class="btn">view product</a>
        </div>
      </div>

      <div class="grid-products__item">
        <div class="grid-products__image">
          <img src="../../../../images/grid-products-34.jpg" alt="">
        </div>

        <h4 class="grid-products__title">Leather look storage boxes</h4>

        <div class="grid-products__content">
          <div class="grid-products__body">
            <p>$799</p>
          </div>

          <a href="" class="btn">view product</a>
        </div>
      </div>

      <div class="grid-products__item">
        <div class="grid-products__image">
          <img src="../../../../images/grid-products-35.jpg" alt="">
        </div>

        <h4 class="grid-products__title">Manchester</h4>

        <div class="grid-products__content">
          <div class="grid-products__body">
            <p>$195</p>
          </div>

          <a href="" class="btn">view product</a>
        </div>
      </div>

      <div class="grid-products__item">
        <div class="grid-products__image">
          <img src="../../../../images/grid-products-36.jpg" alt="">
        </div>

        <h4 class="grid-products__title">Deep sleep memory foam<br> pillow - contour</h4>

        <div class="grid-products__content">
          <div class="grid-products__body">
            <p>95</p>
          </div>

          <a href="" class="btn">view product</a>
        </div>
      </div>

      <div class="grid-products__item grid-products__item--img">

      </div>

      <div class="grid-products__item">
        <div class="grid-products__image">
          <img src="../../../../images/grid-products-37.jpg" alt="">
        </div>

        <h4 class="grid-products__title">Throws and pillows</h4>

        <div class="grid-products__content">
          <div class="grid-products__body">
            <p>$295<p>
          </div>

          <a href="" class="btn">view product</a>
        </div>
      </div>

      <div class="grid-products__item">
        <div class="grid-products__image">
          <img src="../../../../images/grid-products-38.jpg" alt="">
        </div>

        <h4 class="grid-products__title">Giftware</h4>

        <div class="grid-products__content">
          <div class="grid-products__body">
            <p>$105</p>
          </div>

          <a href="" class="btn">view product</a>
        </div>
      </div>

      <div class="grid-products__item">
        <div class="grid-products__image">
          <img src="../../../../images/grid-products-39.jpg" alt="">
        </div>

        <h4 class="grid-products__title">Bedside table lamps</h4>

        <div class="grid-products__content">
          <div class="grid-products__body">
            <p>$199</p>
          </div>

          <a href="" class="btn">view product</a>
        </div>
      </div>

      <div class="grid-products__item">
        <div class="grid-products__image">
          <img src="../../../../images/grid-products-40.jpg" alt="">
        </div>

        <h4 class="grid-products__title">Relax right summer microfiber<br> quilt</h4>

        <div class="grid-products__content">
          <div class="grid-products__body">
            <p>$85</p>
          </div>

          <a href="" class="btn">view product</a>
        </div>
      </div>

      <div class="grid-products__item">
        <div class="grid-products__image">
          <img src="../../../../images/grid-products-41.jpg" alt="">
        </div>

        <h4 class="grid-products__title">Comfort in cotton quilted<br> mattress protector</h4>

        <div class="grid-products__content">
          <div class="grid-products__body">
            <p>$395</p>
          </div>

          <a href="" class="btn">view product</a>
        </div>
      </div>

      <div class="grid-products__item grid-products__item--img">

      </div>
    </div>
  </div>
</div>
