<div class="grid-products">
  <div class="container">
    <div class="grid-products__list">
      <div class="grid-products__item">
        <div class="grid-products__image">
          <img src="../../../../images/grid-products-1.jpg" alt="">
        </div>

        <h4 class="grid-products__title">Lloyd & Penfield Kensington</h4>

        <h5 class="grid-products__sub-title">Double, Queen, King </h5>

        <div class="grid-products__content">
          <div class="grid-products__body">
            <p>$3,590</p>
          </div>

          <a href="" class="btn">view product</a>
        </div>
      </div>

      <div class="grid-products__item">
        <div class="grid-products__image">
          <img src="../../../../images/grid-products-2.jpg" alt="">
        </div>

        <h4 class="grid-products__title">Lloyd & Penfield Hillshire</h4>

        <h5 class="grid-products__sub-title">Double, Queen, King </h5>

        <div class="grid-products__content">
          <div class="grid-products__body">
            <p>$3,590</p>
          </div>

          <a href="" class="btn">view product</a>
        </div>
      </div>

      <div class="grid-products__item">
        <div class="grid-products__image">
          <img src="../../../../images/grid-products-3.jpg" alt="">
        </div>

        <h4 class="grid-products__title">Lloyd & Penfield Lincolnshire</h4>

        <h5 class="grid-products__sub-title">Double, Queen, King </h5>

        <div class="grid-products__content">
          <div class="grid-products__body">
            <p>$3,590</p>
          </div>

          <a href="" class="btn">view product</a>
        </div>
      </div>

      <div class="grid-products__item">
        <div class="grid-products__image">
          <img src="../../../../images/grid-products-4.jpg" alt="">
        </div>

        <h4 class="grid-products__title">Lloyd & Penfield MyComfort</h4>

        <h5 class="grid-products__sub-title">Double, Queen, King </h5>

        <div class="grid-products__content">
          <div class="grid-products__body">
            <p>$2,795</p>
          </div>

          <a href="" class="btn">view product</a>
        </div>
      </div>

      <div class="grid-products__item">
        <div class="grid-products__image">
          <img src="../../../../images/grid-products-5.jpg" alt="">
        </div>

        <h4 class="grid-products__title">Bellissimo Mattress Range</h4>

        <h5 class="grid-products__sub-title">Double, Queen, King </h5>

        <div class="grid-products__content">
          <div class="grid-products__body">
            <p>$3,190</p>
          </div>

          <a href="" class="btn">view product</a>
        </div>
      </div>

      <div class="grid-products__item grid-products__item--img">

      </div>

      <div class="grid-products__item">
        <div class="grid-products__image">
          <img src="../../../../images/grid-products-7.jpg" alt="">
        </div>

        <h4 class="grid-products__title">Health Comfort Mattress<br> Range</h4>

        <h5 class="grid-products__sub-title">Single, King Single, Double, Queen, King </h5>

        <div class="grid-products__content">
          <div class="grid-products__body">
            <p>$699</p>
          </div>

          <a href="" class="btn">view product</a>
        </div>
      </div>

      <div class="grid-products__item">
        <div class="grid-products__image">
          <img src="../../../../images/grid-products-8.jpg" alt="">
        </div>

        <h4 class="grid-products__title">Posture Comfort Mattress<br> Range</h4>

        <h5 class="grid-products__sub-title">Single, King Single, Double, Queen, King </h5>

        <div class="grid-products__content">
          <div class="grid-products__body">
            <p>$1,395</p>
          </div>

          <a href="" class="btn">view product</a>
        </div>
      </div>

      <div class="grid-products__item">
        <div class="grid-products__image">
          <img src="../../../../images/grid-products-9.jpg" alt="">
        </div>

        <h4 class="grid-products__title">SensorFlex Platinum<br> Collection</h4>

        <h5 class="grid-products__sub-title">Double, Queen, King </h5>

        <div class="grid-products__content">
          <div class="grid-products__body">
            <p>$4,390</p>
          </div>

          <a href="" class="btn">view product</a>
        </div>
      </div>

      <div class="grid-products__item">
        <div class="grid-products__image">
          <img src="../../../../images/grid-products-10.jpg" alt="">
        </div>

        <h4 class="grid-products__title">Twin Tech Gemini</h4>

        <h5 class="grid-products__sub-title">Double, Queen, King </h5>

        <div class="grid-products__content">
          <div class="grid-products__body">
            <p>$2,990</p>
          </div>

          <a href="" class="btn">view product</a>
        </div>
      </div>

      <div class="grid-products__item">
        <div class="grid-products__image">
          <img src="../../../../images/grid-products-11.jpg" alt="">
        </div>

        <h4 class="grid-products__title">Lloyd & Penfield Kensington</h4>

        <h5 class="grid-products__sub-title">Double, Queen, King </h5>

        <div class="grid-products__content">
          <div class="grid-products__body">
            <p>$4,590</p>
          </div>

          <a href="" class="btn">view product</a>
        </div>
      </div>

      <div class="grid-products__item grid-products__item--img">

      </div>
    </div>
  </div>
</div>
