<div class="grid-products grid-products--electric-beds">
  <div class="container">
    <div class="grid-products__list">
      <div class="grid-products__item">
        <div class="grid-products__image">
          <img src="../../../../images/grid-products-22.jpg" alt="">
        </div>

        <h4 class="grid-products__title">Ecopedic</h4>

        <h5 class="grid-products__sub-title">Firm, Medium, Luxury</h5>

        <div class="grid-products__content">
          <div class="grid-products__body">
            <p><span class="line-through">was $1,999 </span>  <span class="color">now $1,199</span></p>
          </div>

          <a href="" class="btn">view product</a>
        </div>
      </div>

      <div class="grid-products__item">
        <div class="grid-products__image">
          <img src="../../../../images/grid-products-23.jpg" alt="">
        </div>

        <h4 class="grid-products__title">Motion 5 Mattress</h4>

        <h5 class="grid-products__sub-title">Queen, King </h5>

        <div class="grid-products__content">
          <div class="grid-products__body">
            <p>$2,199</p>
          </div>

          <a href="" class="btn">view product</a>
        </div>
      </div>

      <div class="grid-products__item">
        <div class="grid-products__image">
          <img src="../../../../images/grid-products-24.jpg" alt="">
        </div>

        <h4 class="grid-products__title">Motion 6 Mattress</h4>

        <h5 class="grid-products__sub-title">King Single, Double, Queen, King </h5>

        <div class="grid-products__content">
          <div class="grid-products__body">
            <p>$3,799</p>
          </div>

          <a href="" class="btn">view product</a>
        </div>
      </div>

      <div class="grid-products__item">
        <div class="grid-products__image">
          <img src="../../../../images/grid-products-25.jpg" alt="">
        </div>

        <h4 class="grid-products__title">Motion Contour</h4>

        <h5 class="grid-products__sub-title">Queen, King  </h5>

        <div class="grid-products__content">
          <div class="grid-products__body">
            <p>$1.595</p>
          </div>

          <a href="" class="btn">view product</a>
        </div>
      </div>

      <div class="grid-products__item">
        <div class="grid-products__image">
          <img src="../../../../images/grid-products-26.jpg" alt="">
        </div>

        <h4 class="grid-products__title">Nightspa Gel</h4>

        <h5 class="grid-products__sub-title">Firm, Medium, Luxury</h5>

        <div class="grid-products__content">
          <div class="grid-products__body">
            <p>$2,995</p>
          </div>

          <a href="" class="btn">view product</a>
        </div>
      </div>

      <div class="grid-products__item grid-products__item--img">

      </div>

      <div class="grid-products__item">
        <div class="grid-products__image">
          <img src="../../../../images/grid-products-27.jpg" alt="">
        </div>

        <h4 class="grid-products__title">Motion Flex - Adjustable<br> Electric Bed</h4>

        <h5 class="grid-products__sub-title">Firm, Medium, Luxury</h5>

        <div class="grid-products__content">
          <div class="grid-products__body">
            <p><span class="line-through">was $1,999</span>  <span class="color">now $1,199</span><p>
          </div>

          <a href="" class="btn">view product</a>
        </div>
      </div>

      <div class="grid-products__item">
        <div class="grid-products__image">
          <img src="../../../../images/grid-products-28.jpg" alt="">
        </div>

        <h4 class="grid-products__title">Motion Flex - Adjustable<br> Electric Bed</h4>

        <h5 class="grid-products__sub-title">Queen, King </h5>

        <div class="grid-products__content">
          <div class="grid-products__body">
            <p>$2,199</p>
          </div>

          <a href="" class="btn">view product</a>
        </div>
      </div>

      <div class="grid-products__item">
        <div class="grid-products__image">
          <img src="../../../../images/grid-products-29.jpg" alt="">
        </div>

        <h4 class="grid-products__title">RestaCare – BackSaver: Fully<br> Height Adjustable Bed</h4>

        <h5 class="grid-products__sub-title">King Single, Double, Queen, King </h5>

        <div class="grid-products__content">
          <div class="grid-products__body">
            <p>$3,799</p>
          </div>

          <a href="" class="btn">view product</a>
        </div>
      </div>

      <div class="grid-products__item">
        <div class="grid-products__image">
          <img src="../../../../images/grid-products-30.jpg" alt="">
        </div>

        <h4 class="grid-products__title">Motion Contour</h4>

        <h5 class="grid-products__sub-title">Queen, King </h5>

        <div class="grid-products__content">
          <div class="grid-products__body">
            <p>$1,595</p>
          </div>

          <a href="" class="btn">view product</a>
        </div>
      </div>

      <div class="grid-products__item">
        <div class="grid-products__image">
          <img src="../../../../images/grid-products-31.jpg" alt="">
        </div>

        <h4 class="grid-products__title">Nightspa Gel</h4>

        <h5 class="grid-products__sub-title">Firm, Medium, Luxury</h5>

        <div class="grid-products__content">
          <div class="grid-products__body">
            <p>$2,995</p>
          </div>

          <a href="" class="btn">view product</a>
        </div>
      </div>

      <div class="grid-products__item grid-products__item--img">

      </div>
    </div>
  </div>
</div>
