<div class="pager bg--gray">
  <div class="container">
    <div class="pager__list">
      <div class="pager__item">
        <a class="btn btn--dark-blue" href=""><span>prev</span></a>
      </div>
      
      <div class="pager__item">
        <span aria-current="page" class="page-number current">1</span>
      </div>
      
      <div class="pager__item">
        <a href="http://riseandshine.testbed.net.au/page/2/?s" class="page-number">2</a>
      </div>
      
      <div class="pager__item">
        <a href="http://riseandshine.testbed.net.au/page/3/?s" class="page-number">3</a>
      </div>
      
      <div class="pager__item">
        <span class="page-number dots">...</span>
      </div>
      
      <div class="pager__item">
        <a href="http://riseandshine.testbed.net.au/page/7/?s" class="page-number">7</a>
      </div>
      
      <div class="pager__item">
        <a class="btn btn--dark-blue" href="http://riseandshine.testbed.net.au/page/2/?s"><span>next</span></a>
      </div>
  </div>
</div>
