<div class="rs-tabs">
  <div class="container">
    <div class="rs-tabs__wrap">
      <ul>
        <li class="js-index active">
          <span>description</span>
        </li>
        <li class="js-index">
          <span>features &amp; specifications</span>
        </li>
        <li class="js-index">
          <span>delivery &amp; returns</span>
        </li>
      </ul>

      <div class="rs-tabs__body">
        <ul>
          <li class="is-index active">
            <span class="js-show is-focus">description <i class="icon-arrow"></i></span>

            <div class="show rs-tabs__content">
              <p>The SensorFlex Platinum mattress range was awarded the Best Sleep Set at the prestigious Furniture Industry Association (FIA) national annual awards for 3 years in a row! (2011, 2012 and 2013). This independent association represents all major mattress and furniture manufacturers in Australia and is the furniture industries equivalent to the Oscars!</p>
            </div>
          </li>
          <li class="is-index">
            <span class="js-show is-focus">features &amp; specifications <i class="icon-arrow"></i></span>

            <div class="show rs-tabs__content">
              <p>Here is features &amp; specifications</p>
            </div>
          </li>
          <li class="is-index">
            <span class="js-show is-focus">delivery &amp; returns <i class="icon-arrow"></i></span>

            <div class="show rs-tabs__content">
              <p>Here is delivery &amp; returns</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
