<div class="box-intro">
  <div class="container">
    <div class="box-intro__wrap">
      <div class="box-intro__image">
        <img src="../../../../images/image1.jpg" alt="">
      </div>

      <div class="box-intro__content">
        <div class="box-intro__top">
          <h2 class="box-intro__title">welcome to rise+shine</h2>
          <div class="box-intro__body">
            <p>rise+shine has everything you need in the bedroom. Whether a mattress, bed, bedroom furniture, accessories or the complete bedroom package, you will find what you need at any of our three large showrooms. At rise+shine we put you first. We take the time to understand your needs and will give you the best advice to help you make the right decisions, every time. Furthermore, we offer unbeatable prices. Take advantage of our renovation clearance sale. We have new stock due to arrive and all discontinued floor stock must be sold now to make way. Don’t miss out. Call us or visit in-store at Highpoint, Thomastown or Nunawading for best advice, unbeatable range, service and price, only at rise+shine.</p>
          </div>
        </div>

        <div class="box-intro__multilink">
          <a href="" class="btn">find your nearest store</a><br>
          <a href="" class="btn">shop now</a>
        </div>
      </div>
    </div>
  </div>
</div>
