<div class="box-feature">
  <div class="container">
    <h3 class="box-feature__title">Start your 30 night trial today and<br class="break"> start sleeping beautifully!</h3>

    <h4 class="box-feature__sub-title">Compare us to our major competitor</h4>

    <div class="box-feature__content">
      <div class="box-feature__content__left">
        <h3 class="box-feature__title">Their Mattress</h3>

        <div class="box-feature__content__bottom">
          <p>Size: 25 - 25.4cm</p>
          <p>Only one comfort feel. What if it doesn’t suit you?</p>
          <p>Standard delivery service</p>
        </div>
      </div>

      <div class="box-feature__content__right">
        <h3 class="box-feature__title">Your Ideal Mattress</h3>
        
        <div class="box-feature__content__bottom">
          <p>Size: 27cm high. More mattress = more comfort!</p>
          <p>Choose your Ideal Comfort!</p>
          <p>Medium Firm on one side & Medium to Soft on the other!</p>
          <p>Concierge delivery service. Have input into where and when<br> it is delivered</p>
        </div>
      </div>
    </div>

    <div class="box-feature__link">
      <a class="btn btn--blue btn--large" href="#"><span>buy now <i class="icon-arrow"></i></span></a>
    </div>
  </div>
</div>
