<div class="grid-products grid-products--sale">
  <div class="container">
    <div class="grid-products__list">
      <div class="grid-products__item">
        <div class="grid-products__image">
          <img src="../../../../images/grid-products-12.jpg" alt="">
        </div>

        <h4 class="grid-products__title">Elle bedroom suite</h4>

        <h5 class="grid-products__sub-title">King Single, Double, Queen, King </h5>

        <div class="grid-products__content">
          <div class="grid-products__body">
            <p><span class="line-through">was $1,999 </span>  <span class="color">now $1,199</span></p>
          </div>
          <a href="" class="btn">view product</a>
        </div>
      </div>

      <div class="grid-products__item">
        <div class="grid-products__image">
          <img src="../../../../images/grid-products-13.jpg" alt="">
        </div>

        <h4 class="grid-products__title">Dongara bedroom suite</h4>

        <h5 class="grid-products__sub-title">Queen, King </h5>

        <div class="grid-products__content">
          <div class="grid-products__body">
            <p><span class="line-through">was $1,999 </span>  <span class="color">now $1,199</span></p>
          </div>

          <a href="" class="btn">view product</a>
        </div>
      </div>

      <div class="grid-products__item">
        <div class="grid-products__image">
          <img src="../../../../images/grid-products-14.jpg" alt="">
        </div>

        <h4 class="grid-products__title">Cloe bedroom suite</h4>

        <h5 class="grid-products__sub-title">King Single, Double, Queen, King </h5>

        <div class="grid-products__content">
          <div class="grid-products__body">
            <p><span class="line-through">was $1,999 </span>  <span class="color">now $1,199</span></p>
          </div>

          <a href="" class="btn">view product</a>
        </div>
      </div>

      <div class="grid-products__item">
        <div class="grid-products__image">
          <img src="../../../../images/grid-products-15.jpg" alt="">
        </div>

        <h4 class="grid-products__title">Elizabeth bedroom suite</h4>

        <h5 class="grid-products__sub-title">Queen, King  </h5>

        <div class="grid-products__content">
          <div class="grid-products__body">
            <p><span class="line-through">was $1,999 </span>  <span class="color">now $1,199</span></p>
          </div>

          <a href="" class="btn">view product</a>
        </div>
      </div>

      <div class="grid-products__item">
        <div class="grid-products__image">
          <img src="../../../../images/grid-products-16.jpg" alt="">
        </div>

        <h4 class="grid-products__title">Cambridge 4 poster bedroom<br> suite</h4>

        <h5 class="grid-products__sub-title">Queen, King </h5>

        <div class="grid-products__content">
          <div class="grid-products__body">
            <p><span class="line-through">was $1,999 </span>  <span class="color">now $1,199</span></p>
          </div>

          <a href="" class="btn">view product</a>
        </div>
      </div>

      <div class="grid-products__item grid-products__item--img">

      </div>

      <div class="grid-products__item">
        <div class="grid-products__image">
          <img src="../../../../images/grid-products-17.jpg" alt="">
        </div>

        <h4 class="grid-products__title">Amelia bedroom suite</h4>

        <h5 class="grid-products__sub-title">Double, Queen</h5>

        <div class="grid-products__content">
          <div class="grid-products__body">
            <p><span class="line-through">was $1,999 </span>  <span class="color">now $1,199</span></p>
          </div>

          <a href="" class="btn">view product</a>
        </div>
      </div>

      <div class="grid-products__item">
        <div class="grid-products__image">
          <img src="../../../../images/grid-products-18.jpg" alt="">
        </div>

        <h4 class="grid-products__title">Charlize bedroom suite</h4>

        <h5 class="grid-products__sub-title">Double, Queen, King </h5>

        <div class="grid-products__content">
          <div class="grid-products__body">
            <p><span class="line-through">was $1,999 </span>  <span class="color">now $1,199</span></p>
          </div>

          <a href="" class="btn">view product</a>
        </div>
      </div>

      <div class="grid-products__item">
        <div class="grid-products__image">
          <img src="../../../../images/grid-products-19.jpg" alt="">
        </div>

        <h4 class="grid-products__title">Arca bedroom suite</h4>

        <h5 class="grid-products__sub-title">Double, Queen, King </h5>

        <div class="grid-products__content">
          <div class="grid-products__body">
            <p><span class="line-through">was $1,999 </span>  <span class="color">now $1,199</span></p>
          </div>

          <a href="" class="btn">view product</a>
        </div>
      </div>

      <div class="grid-products__item">
        <div class="grid-products__image">
          <img src="../../../../images/grid-products-20.jpg" alt="">
        </div>

        <h4 class="grid-products__title">Noosa bedroom suite</h4>

        <h5 class="grid-products__sub-title">Double, Queen, King </h5>

        <div class="grid-products__content">
          <div class="grid-products__body">
            <p><span class="line-through">was $1,999 </span>  <span class="color">now $1,199</span></p>
          </div>

          <a href="" class="btn">view product</a>
        </div>
      </div>

      <div class="grid-products__item">
        <div class="grid-products__image">
          <img src="../../../../images/grid-products-21.jpg" alt="">
        </div>

        <h4 class="grid-products__title">Tiled upholstered bed</h4>

        <h5 class="grid-products__sub-title">Double, Queen, King </h5>

        <div class="grid-products__content">
          <div class="grid-products__body">
            <p><span class="line-through">was $1,999 </span>  <span class="color">now $1,199</span></p>
          </div>

          <a href="" class="btn">view product</a>
        </div>
      </div>

      <div class="grid-products__item grid-products__item--img">

      </div>
    </div>
  </div>
</div>
