<div class="banner">
  <div class="banner__image">
    <img src="../../../images/banner_image_01.jpg" alt="">
  </div>

  <div class="container">
    <div class="banner__body">
      <h2 class="banner__subtitle">contact</h2>

      <div class="banner__content">
        <h1>the complete bedroom</h1>

        <div class="banner_description">
          <p>we carry a complete range of bed frames, bedroom suites and bedroom furniture to suit your tastes, needs and budget</p>
        </div>

        <div class="banner_link">
          <a href="" class="btn"><span>discover<i class="icon-arrow"></i></span></a>
        </div>
      </div>

      <div class="best-advice best-advice--mobile">
        <a href="#">best advice. never beaten on price</a>
      </div>
    </div>
  </div>
</div>
