<div class="banner js-slide banner--width-slide">
  <div class="banner__item">
    <div class="banner__image">
      <img src="../../../source/images/banner_image_01.jpg" alt="">
    </div>

    <div class="banner__wrap">
      <div class="container">
        <div class="banner__body">
          <div class="banner__content">
            <h1 class="text--orange banner__title">the complete bedroom</h1>

            <div class="banner__description text--large">
              <p>we carry a complete range of bed frames, bedroom suites and bedroom furniture to suit your tastes, needs and budget</p>
            </div>

            <div class="banner__link">
              <a href="" class="btn btn--orange"><span>discover<i class="icon-arrow"></i></span></a>
            </div>
          </div>

          <div class="best-advice hidden-on-mobile">
            <a href="#">best advice. never beaten on price</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="banner__item">
    <div class="banner__image">
      <img src="../../../source/images/banner_image_02.jpg" alt="">
    </div>

    <div class="banner__wrap">
      <div class="container">
        <div class="banner__body">
          <div class="banner__content">
            <h1 class="text--purple banner__title">we really do have it all</h1>

            <div class="banner__description text--large">
              <p>we have everything you need in the bedroom</p>
            </div>

            <div class="banner__link">
              <a href="" class="btn btn--purple"><span>discover<i class="icon-arrow"></i></span></a>
            </div>
          </div>

          <div class="best-advice hidden-on-mobile">
            <a href="#">best advice. never beaten on price</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="banner__item">
    <div class="banner__image">
      <img src="../../../source/images/banner_image_03.jpg" alt="">
    </div>

    <div class="banner__wrap">
      <div class="container">
        <div class="banner__body">
          <div class="banner__content">
            <h1 class="text--dark-red banner__title">our mattress range</h1>

            <div class="banner__description text--large">
              <p>we carry a complete range of mattresses to serve your comfort, support, size and budget</p>
            </div>

            <div class="banner__link">
              <a href="" class="btn btn--dark-red"><span>discover<i class="icon-arrow"></i></span></a>
            </div>
          </div>

          <div class="best-advice hidden-on-mobile">
            <a href="#">best advice. never beaten on price</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="banner__item banner--only-link">
    <div class="banner__image">
      <img src="../../../source/images/banner_image_04.jpg" alt="">
    </div>
  </div>
</div>
