<div class="banner">
  <div class="banner__image">
    <img src="../../../source/images/banner_image_01.jpg" alt="">
  </div>

  <div class="banner__wrap">
    <div class="container">
      <div class="banner__body">
        <div class="banner__content">
          <h1 class="text--orange">the complete bedroom</h1>

          <div class="banner__description text--large">
            <p>we carry a complete range of bed frames, bedroom suites and bedroom furniture to suit your tastes, needs and budget</p>
          </div>

          <div class="banner__link">
            <a href="" class="btn bg--orange"><span>discover<i class="icon-arrow"></i></span></a>
          </div>
        </div>

        <div class="best-advice hidden-on-mobile">
          <a href="#">best advice. never beaten on price</a>
        </div>
      </div>
    </div>
  </div>
</div>
