.box-html {
  padding: 30px 0;

  @media only screen and (min-width: 768px) {
    padding: 63px 0 70px;
  }
}

.contact {
  .box-info {
    @media only screen and (min-width: 768px) {
      display: none;
    }
  }
}

.tax-product_cat .box-icon {
  background: $white;
}

main {
  box-shadow: inset 0px 20px 20px -20px rgba($black, .2);
}
