.header {
  box-shadow: 0px -8px 60px -10px #555;
  position: relative;
  z-index: 3;

  @media only screen and (max-width: 1024px) {
    padding-bottom: 34px;
  }

  &__image {
    @media only screen and (min-width: 1025px) {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 9;
    }

    a {
      line-height: 0;

      img {
        width: 61px;

        @media only screen and (min-width: 768px) {
          width: 80px;
        }

        @media only screen and (min-width: 1025px) {
          width: 100px;
        }
      }
    }
  }

  &__logo {
    padding: 10px 0 5px;
    position: relative;
    z-index: 9;

    @media only screen and (min-width: 1025px) {
      padding: 0;
      z-index: 11;
    }
  }

  &__right {
    display: flex;
    position: relative;
    align-items: center;

    @media only screen and (min-width: 1025px) {
      display: none;
    }

    .form-search--mobile{
      @media only screen and (max-width: 1024px) {
        position: absolute;
        right: calc(100% + 3px);
        top: 2px;
      }

      @media only screen and (max-width: 374px) {
        top: -2px;
        right: calc(100% - 7px) !important;
      }

      input[type="search"] {
        @media only screen and (max-width: 1024px) {
          width: 0;
          background: 0 0;
          padding: 8px 5px 7px 30px;
          margin: 0;
        }

        @media only screen and (max-width: 374px) {
          padding-left: 35px;
        }
      }

      &.active {
        @media only screen and (max-width: 1024px) {
          z-index: 9;
          background: #f2f6f5;
          left: -54px;
          width: calc(100% + 54px);
        }

        .form-search__input {
          @media only screen and (max-width: 1024px) {
            width: 100%;
          }
        }
      }

      .form-search__submit i:before {
        @media only screen and (max-width: 1024px) {
          font-size: 16px;
        }
      }
    }

    .list-icons {
      margin-bottom: 6px;

      @media only screen and (max-width: 374px) {
        margin: 0;
      }

      @media only screen and (max-width: 1024px) {
        margin-right: 11px;
      }

      li a {
        width: 54px;
        height: 54px;
        position: relative;
        right: 4px;

        @media only screen and (max-width: 374px) {
          width: 40px;
          height: 40px;
        }

        @media only screen and (max-width: 1024px) {
          right: 0;
        }

        &:before {
          @media only screen and (max-width: 1024px) {
            font-size: 21px;
          }
        }

        &.icon-cart:before {
          @media only screen and (max-width: 1024px) {
            font-size: 18px;
          }
        }
      }
    }
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    @media only screen and (min-width: 1025px) {
      justify-content: flex-end;
      position: relative;
    }
  }

  &__bottom {
    background: $dark-blue;

    .container {
      @media only screen and (max-width: 1024px) {
        width: 100%;
        margin: 0;
        padding: 0;
        max-width: inherit;
      }
    }
  }

  &__top {
    @media only screen and (max-width: 1024px) {
      position: relative;
      background: $gray;
      padding: 2px 0;
    }

    .container {
      @media only screen and (max-width: 1024px) {
        width: 100%;
        margin: 0;
        padding: 0;
        max-width: inherit;
      }
    }
  }

  &__body {
    position: relative;
    z-index: 10;
    display: none;

    @media only screen and (max-width: 1024px) {
      top: 112px;
      height: calc(100vh - 112px);
      background: $white;
    }

    @media only screen and (max-width: 767px) {
      top: 88px;
      height: calc(100vh - 88px);
      padding-bottom: 76px;
    }

    &.active {
      overflow-y: auto;
    }

    @media only screen and (min-width: 1025px) {
      display: flex !important;
      flex-direction: column-reverse;
    }

    @media only screen and (max-width: 1024px) {
      position: fixed;
      width: 100%;
    }

    .form-search {
      display: block;
      padding: 13.5px 0;

      @media only screen and (max-width: 1024px) {
        display: none !important;
      }
    }
  }
}
