<div class="box-video">
  <div class="container">
    <div class="box-video__wrap">
      <div class="box-video__content">
        <h3 class="box-video__title">watch our unpacking video</h3>

        <div class="box-video__video">
          <video width="795" height="445" poster="../../../../images/video.jpg" controls loop and muted and preload="auto">
            <source src="../../../../videos/Trawla_Website_Video.MOV" type="video/mp4">
          </video>
        </div>
      </div>

      <div class="box-video__link">
        <a class="btn btn--blue btn--large" href="#"><span>buy now <i class="icon-arrow"></i></span></a>
      </div>
    </div>
  </div>
</div>
