<div class="grid-products grid-products--width-slide">
  <div class="container">
    <h2 class="h2--no-change text--center">you might also like</h2>

    <div class="grid-products__list js-product">
      <div class="grid-products__item">
        <div class="grid-products__image">
          <img src="/pattern-lab/source/images/product_image_14.jpg" alt="">
        </div>

        <h4 class="grid-products__title">Lloyd &amp; Penfield MyComfort</h4>

        <div class="grid-products__content">
          <div class="grid-products__body">
            <p>$2,795</p>
          </div>
        </div>
      </div>

      <div class="grid-products__item">
        <div class="grid-products__image">
          <img src="/pattern-lab/source/images/product_image_10.jpg" alt="">
        </div>

        <h4 class="grid-products__title">Bellissimo Mattress Range</h4>

        <div class="grid-products__content">
          <div class="grid-products__body">
            <p>$3,190</p>
          </div>
        </div>
      </div>

      <div class="grid-products__item">
        <div class="grid-products__image">
          <img src="/pattern-lab/source/images/product_image_12.jpg" alt="">
        </div>

        <h4 class="grid-products__title">EcoPedic Mattress Range</h4>

        <div class="grid-products__content">
          <div class="grid-products__body">
            <p>$2,795</p>
          </div>
        </div>
      </div>

      <div class="grid-products__item">
        <div class="grid-products__image">
          <img src="/pattern-lab/source/images/product_image_11.jpg" alt="">
        </div>

        <h4 class="grid-products__title">Dongara Bedroom Suite</h4>

        <div class="grid-products__content">
          <div class="grid-products__body">
            <p>$1,995</p>
          </div>
        </div>
      </div>

      <div class="grid-products__item">
        <div class="grid-products__image">
          <img src="/pattern-lab/source/images/product_image_11.jpg" alt="">
        </div>

        <h4 class="grid-products__title">Dongara Bedroom Suite</h4>

        <div class="grid-products__content">
          <div class="grid-products__body">
            <p>$1,995</p>
          </div>
        </div>
      </div>

      <div class="grid-products__item">
        <div class="grid-products__image">
          <img src="/pattern-lab/source/images/product_image_11.jpg" alt="">
        </div>

        <h4 class="grid-products__title">Dongara Bedroom Suite</h4>

        <div class="grid-products__content">
          <div class="grid-products__body">
            <p>$1,995</p>
          </div>
        </div>
      </div>

      <div class="grid-products__item">
        <div class="grid-products__image">
          <img src="/pattern-lab/source/images/product_image_11.jpg" alt="">
        </div>

        <h4 class="grid-products__title">Dongara Bedroom Suite</h4>

        <div class="grid-products__content">
          <div class="grid-products__body">
            <p>$1,995</p>
          </div>
        </div>
      </div>

      <div class="grid-products__item">
        <div class="grid-products__image">
          <img src="/pattern-lab/source/images/product_image_11.jpg" alt="">
        </div>

        <h4 class="grid-products__title">Dongara Bedroom Suite</h4>

        <div class="grid-products__content">
          <div class="grid-products__body">
            <p>$1,995</p>
          </div>
        </div>
      </div>

      <div class="grid-products__item">
        <div class="grid-products__image">
          <img src="/pattern-lab/source/images/product_image_11.jpg" alt="">
        </div>

        <h4 class="grid-products__title">Dongara Bedroom Suite</h4>

        <div class="grid-products__content">
          <div class="grid-products__body">
            <p>$1,995</p>
          </div>
        </div>
      </div>

      <div class="grid-products__item">
        <div class="grid-products__image">
          <img src="/pattern-lab/source/images/product_image_11.jpg" alt="">
        </div>

        <h4 class="grid-products__title">Dongara Bedroom Suite</h4>

        <div class="grid-products__content">
          <div class="grid-products__body">
            <p>$1,995</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
