<div class="box-size">
  <div class="container">
    <div class="box-size__wrap">
      <div class="box-size__content">
        <h3 class="box-size__title">standard mattress sizing</h3>

        <div class="box-size__body">
          <p>Whilst these are the standard mattress sizes made in Australia, if you have special requirements, please don’t hesitate to ask your nearest store and we may be able to help.</p>

          <p>A note on furniture measurements…Please note that all measurements are to the nearest cm and are accurate as of the time of publishing. The measurements are given as a guide only.</p>

          <p>Measurements are given in the following order: Width (w) Height (h) and Depth (d). The width is always measured across the unit when looking at the front.</p>

          <p>When listing the height of dressing tables, both the height of the chest and the overall height which includes the mirror are given.</p>

          <p>Manufacturers reserve the right to make changes without notice. If you are space sensitive, always ask the store to confirm the measurements of your furniture prior to ordering them.</p>
        </div>
      </div>

      <div class="box-size__table">
        <table>
          <thead>
            <tr>
              <th>size</th>
              <th>metric</th>
              <th>imperial</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>king</td>
              <td>183cm x 204cm</td>
              <td>6’0″ x  6’8″</td>
            </tr>
            <tr>
              <td>queen</td>
              <td>153cm x 204cm</td>
              <td>5’0″ x  6’8″</td>
            </tr>
            <tr>
              <td>double</td>
              <td>138cm x 188cm</td>
              <td>4’6″ x  6’2″</td>
            </tr>
            <tr>
              <td>king single</td>
              <td>153cm x 204cm</td>
              <td>5’0″ x  6’8″</td>
            </tr>
            <tr>
              <td>single</td>
              <td>138cm x 188cm</td>
              <td>4’6″ x  6’2″</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
