<header class="header">
  <div class="header__logo">
    <div class="container">
      <div class="header__wrap">
        <div class="header__image">
          <a href="#">
            <img src="../../../../images/logo_image.svg" alt="">
          </a>
        </div>

        <div class="header__right">
          <form action="" class="form-search form-search--mobile js-detect">
            <input type="search" class="form-search__input">
            <button class="form-search__submit" type="submit">
              <i class="icon-search"></i>
            </button>
          </form>
          
          <ul class="list-icons">
            <li><a href="#" class="icon-location"></a></li>
            <li><a href="#" class="icon-cart"></a></li>
          </ul>

          <div class="menu-bars">
            <span class="menu-bars__row"></span>
            <span class="menu-bars__row"></span>
            <span class="menu-bars__row"></span>
          </div>
        </div>

        <div class="best-advice best-advice--mobile">
          <div class="container">
            <a href="#">best advice. never beaten on price</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="header__body">
    <div class="header__top">
      <div class="container">
        <div class="header__wrap">
          <div class="primary-menu">
            <ul>
              <li>
                <a href="#">mattresses <i class="js-show-menu icon-arrow"></i></a>

                <ul class="sub-menu">
                  <li>
                    <span class="shop-by">shop by</span>

                    <ul class="sub-menu">
                      <li>
                        <a href="#">all mattresses</a>
                      </li>
                      <li>
                        <a href="#">king</a>
                      </li>
                      <li>
                        <a href="#">queen</a>
                      </li>
                      <li>
                        <a href="#">double</a>
                      </li>
                      <li>
                        <a href="#">king single</a>
                      </li>
                      <li>
                        <a href="#">single</a>
                      </li>
                    </ul>
                  </li>

                  <li>
                    <span href="#" class="shop-by">shop by</span>

                    <ul class="sub-menu">
                      <li>
                        <a href="#">premium</a>
                      </li>
                      <li>
                        <a href="#">luxury</a>
                      </li>
                      <li>
                        <a href="#">comfort</a>
                      </li>
                      <li>
                        <a href="#">bed in a bag</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>

              <li>
                <a href="#">bedroom furniture <i class="js-show-menu icon-arrow"></i></a>

                <ul class="sub-menu">
                  <li>
                    <span href="#" class="shop-by">shop by</span>

                    <ul class="sub-menu">
                      <li>
                        <a href="#">all bedroom furniture </a>
                      </li>
                      <li>
                        <a href="#">bedroom suites</a>
                      </li>
                      <li>
                        <a href="#">upholstered beds</a>
                      </li>
                      <li>
                        <a href="#">bedheads &amp; bases </a>
                      </li>
                      <li>
                        <a href="#">bunks &amp; trundles</a>
                      </li>
                      <li>
                        <a href="#">tallboys</a>
                      </li>
                      <li>
                        <a href="#">dressers</a>
                      </li>
                      <li>
                        <a href="#">bedside tables</a>
                      </li>
                      <li>
                        <a href="#">childrens &amp; teens</a>
                      </li>
                      <li>
                        <a href="#">storage beds</a>
                      </li>
                      <li>
                        <a href="#">sofa beds</a>
                      </li>
                    </ul>
                  </li>

                  <li>
                    <span href="#" class="shop-by">shop by</span>

                    <ul class="sub-menu">
                      <li>
                        <a href="#">custom design</a>
                      </li>
                      <li>
                        <a href="#">design style 2</a>
                      </li>
                      <li>
                        <a href="#">design style 3</a>
                      </li>
                      <li>
                        <a href="#">design style 4</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>

              <li>
                <a href="#">bed in a bag</a>
              </li>

              <li>
                <a href="#">electric beds</a>
              </li>

              <li>
                <a href="#">bedding essentials <i class="js-show-menu icon-arrow"></i></a>

                <ul class="sub-menu">
                  <li>
                    <span href="#" class="shop-by">shop by</span>

                    <ul class="sub-menu">
                      <li>
                        <a href="#">pillows</a>
                      </li>
                      <li>
                        <a href="#">quilts</a>
                      </li>
                      <li>
                        <a href="#">mattress protectors</a>
                      </li>
                      <li>
                        <a href="#">mattress toppers</a>
                      </li>
                      <li>
                        <a href="#">rugs</a>
                      </li>
                      <li>
                        <a href="#">accessories</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>

              <li>
                <a href="#">sale</a>
              </li>
            </ul>
          </div>


          <form action="" class="form-search">
            <input type="search" placeholder="search" class="form-search__input">
            <button type="submit" class="form-search__submit">
              <i class="icon-search"></i>
            </button>
          </form>
        </div>
      </div>
    </div>

    <div class="header__bottom">
      <div class="container">
        <div class="header__wrap">
          <div class="second-menu">
            <ul>
              <li><a href="#">about</a></li>
              <li><a href="#">faq</a></li>
              <li>
                <a href="#">customer service <i class="js-show-menu icon-arrow"></i></a>

                <ul class="sub-menu">
                  <li><a href="#">delivery service</a></li>
                  <li><a href="#">measurements</a></li>
                  <li><a href="#">privacy policy</a></li>
                </ul>
              </li>
              <li><a href="#">careers</a></li>
              <li><a href="#">contact us</a></li>
              <li>
                <a href="#">stores <i class="js-show-menu icon-arrow"></i></a>

                <ul class="sub-menu">
                  <li><a href="#">highpoint</a></li>
                  <li><a href="#">thomastown</a></li>
                  <li><a href="#">nunawading</a></li>
                </ul>
              </li>
            </ul>
          </div>

          <div class="best-advice">
            <a href="#">best advice. never beaten on price</a>
          </div>

          <div class="my-account">
            <a href="#">my account <i href="#" class="icon-cart"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  

  
</header>



