<div class="box-image-text">
  <div class="container">
    <div class="box-image-text__wrap">
      <div class="box-image-text__content-left">
        <div class="box-image-text__title">
          <h2>bed in a bag</h2>
        </div>

         <div class="box-image-text__content">
          <p>The latest European mattress technology is now available here in Australia. Get your Ideal Comfort at an Ideal Price!</p>
          <p>Your Ideal Mattress is bigger than our major competitors and you choose your ideal comfort in the privacy of your own home, in your own time! Satisfaction Guaranteed – 30 Night Money Back Trial. Return it for a full refund. 42 Years of Manufacturing and Retail Experience means your Ideal Mattress looks and feels like a normal, really comfortable mattress!</p>
        </div>
        
         <div class="box-image-text__link">
          <a href="" class="btn">buy now</a>
        </div>
      </div>
    </div>
  </div>
</div>
