<div class="box-filter is-hidden">
  <div class="container">
    <div class="box-filter__wrap">
      <div class="box-filter__top">
        <h5 class="box-filter__title">Category</h5>

        <ul>
          <li><a href="#" class="active">mattresses</a></li>
          <li><a href="#">bedroom <br /> furniture</a></li>
          <li><a href="#">electric <br />beds</a></li>
          <li><a href="#">bedding <br />essentials</a></li>
          <li class="hidden-on-tablet"><a href="#">sale</a></li>
        </ul>
      </div>

      <div class="box-filter__bottom">
        <h5 class="box-filter__title">Filters</h5>

        <div class="box-filter__body">
          <span class="js-show btn"><span>more filters</span></span>
          
          <div class="box-filter__aside show">
            <div class="box-filter__item">
              <div class="container">
                <form action="">
                  <div class="form-list form-top">
                    <div class="form-item">
                      <span class="js-back come-back"><i class="icon-arrow"></i>back</span>
                      <input type="reset" name="" value="clear all">
                    </div>
                  </div>
                  
                  <div class="form-list">
                    <div class="form-item">
                      <input type="checkbox" name="" id="sale">
                      <label class="reverse" for="sale">sale</label>
                    </div>
                  </div>

                  <div class="form-list">
                    <div class="form-item">
                      <span class="btn js-show"><span>type</span></span>

                      <div class="box-filter__child form-show show">
                        <div class="container">
                          <div class="form-list form-top">
                            <div class="form-item">
                              <span class="js-back come-back"> <i class="icon-arrow"></i>back</span>
                              <input type="reset" name="" value="clear all">
                            </div>
                          </div>
                          
                          <div class="form-list form-caption">
                            <div class="form-item">
                              <span>type</span>                         
                            </div>
                          </div>


                          <div class="form-list">
                            <div class="form-item">
                              <input type="checkbox" name="" id="7">
                              <label class="reverse" for="7">all bedding essentials</label>
                            </div>

                            <div class="form-item">
                              <input type="checkbox" name="" id="8">
                              <label class="reverse" for="8">pillows</label>
                            </div>

                            <div class="form-item">
                              <input type="checkbox" name="" id="9">
                              <label class="reverse" for="9">quilts</label>
                            </div>

                            <div class="form-item">
                              <input type="checkbox" name="" id="10">
                              <label class="reverse" for="10">mattress protectors</label>
                            </div>

                            <div class="form-item">
                              <input type="checkbox" name="" id="11">
                              <label class="reverse" for="11">mattress toppers</label>
                            </div>

                            <div class="form-item">
                              <input type="checkbox" name="" id="12">
                              <label class="reverse" for="12">mrugs</label>
                            </div>

                            <div class="form-item">
                              <input type="checkbox" name="" id="13">
                              <label class="reverse" for="13">accessories</label>
                            </div>
                          </div>
                          
                          <div class="form-list">
                            <div class="form-item">
                              <button type="submit" class=" btn btn--lost-icon"><span>go</span></button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-item">
                      <span class="btn js-show"><span>size</span></span>

                      <div class="box-filter__child form-show show">
                        <div class="container">
                          <div class="form-list form-top">
                            <div class="form-item">
                              <span class="js-back come-back"> <i class="icon-arrow"></i>back</span>
                              <input type="reset" name="" value="clear all">
                            </div>
                          </div>
                          
                          <div class="form-list form-caption">
                            <div class="form-item">
                              <span>size</span>                         
                            </div>
                          </div>


                          <div class="form-list">
                            <div class="form-item">
                              <input type="checkbox" name="" id="2">
                              <label class="reverse" for="2">king</label>
                            </div>

                            <div class="form-item">
                              <input type="checkbox" name="" id="3">
                              <label class="reverse" for="3">queen</label>
                            </div>

                            <div class="form-item">
                              <input type="checkbox" name="" id="4">
                              <label class="reverse" for="4">double</label>
                            </div>

                            <div class="form-item">
                              <input type="checkbox" name="" id="5">
                              <label class="reverse" for="5">king single</label>
                            </div>

                            <div class="form-item">
                              <input type="checkbox" name="" id="6">
                              <label class="reverse" for="6">single</label>
                            </div>
                          </div>
                          
                          <div class="form-list">
                            <div class="form-item">
                              <button type="submit" class=" btn btn--lost-icon"><span>go</span></button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-item">
                      <span class="btn"><span>comfort</span></span>
                    </div>


                    <div class="form-item form-hidden">
                      <span class="btn"><span>colour</span></span>
                    </div>
                  </div>

                  <div class="form-list form-2col">
                    <div class="form-item">
                      <span class="btn"><span>$ min</span></span>
                    </div>

                    <div class="form-item">
                      <span class="btn"><span>$ max</span></span>
                    </div>
                  </div>
                  
                  <div class="form-list">
                    <div class="form-item">
                      <button type="submit" class=" btn btn--lost-icon"><span>go</span></button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>

          <div class="box-filter__sort">
            <span class="js-show btn"><span>sort: recommended</span></span>

            <ul class="show">
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>