<div class="box-gallery">
  <div class="container">
    <div class="box-gallery__wrap">
      <div class="box-gallery__aside">
        
      </div>

      <div class="box-gallery__body">
        <div class="box-gallery__left">
          <div class="box-gallery__left__image">
            <img src="../../../source/images/riseandshine-product_01.jpg" alt="">
          </div>
          <div class="box-gallery__left__image">
            <img src="../../../source/images/riseandshine-product_01.jpg" alt="">
          </div>
          <div class="box-gallery__left__image">
            <img src="../../../source/images/riseandshine-product_01.jpg" alt="">
          </div>
          <div class="box-gallery__left__image">
            <img src="../../../source/images/riseandshine-product_01.jpg" alt="">
          </div>
          <div class="box-gallery__left__image">
            <img src="../../../source/images/riseandshine-product_01.jpg" alt="">
          </div>
          <div class="box-gallery__left__image">
            <img src="../../../source/images/riseandshine-product_01.jpg" alt="">
          </div>
        </div>

        <div class="box-gallery__right">
          <h2 class="box-gallery__title">SensorFlex Platinum Collection</h2>

          <div class="price">
            <div class="price__was">was <span>$4,390</span>  </div>
            <div class="price__now">now <span>$3,790</span></div>
          </div>

          <form action="">
            <div class="form-list">
              <h5 class="box-gallery__name">Select a size: <span>Size guide</span></h5>

              <div class="form-item">
                <label for="single">single</label>
                <input type="checkbox" id="single" name="">
              </div>
              <div class="form-item">
                <label for="single">king single</label>
                <input type="checkbox" id="single" name="">
              </div>
              <div class="form-item">
                <label for="single">double</label>
                <input type="checkbox" id="single" name="">
              </div>
              <div class="form-item">
                <label for="single">queen</label>
                <input type="checkbox" id="single" name="">
              </div>
              <div class="form-item">
                <label for="single">king</label>
                <input type="checkbox" id="single" name="">
              </div>
            </div>

            <div class="form-list">
              <h5 class="box-gallery__name">Quantity</h5>
              <div class="form-item">
                <label class="btn"><span>1</span></label>
              </div>
              <div class="form-item">
                <button class="btn btn-reverse"><span>add to cart</span></button>
              </div>
            </div>
          </form>

          <div class="box-gallery__multilink">
            <div class="box-gallery__icons">
              <h5 class="box-gallery__name">Share</h5>
              <ul class="list-icons">
                <li>
                  <a href="#" class="icon-facebook">facebook</a>
                </li>
                <li>
                  <a href="#" class="icon-pinterest">pinterest</a>
                </li>
              </ul>
            </div>

            <div class="box-gallery__payment">
              <h5 class="box-gallery__name"><i class="icon-lock"></i>secure checkout with:</h5>
              <a href="#"><img src="../../../source/images/footer_image_01.png"></a>
              <a href="#"><img src="../../../source/images/footer_image_02.png" alt=""></a>
            </div>
          </div>
        </div>

        <div class="box-gallery__description">
          <ul>
            <li><span class="js-load" data-id="box-gallery__content--description">description</span></li>
            <li><span class="js-load" data-id="box-gallery__content--feature">features &amp; specifications</span></li>
            <li><span class="js-load" data-id="box-gallery__content--delivery">delivery &amp; returns</span></li>
          </ul>
          
          <div class="box-gallery__content box-gallery__content--description active load">
            <p>The SensorFlex Platinum mattress range was awarded the Best Sleep Set at the prestigious Furniture Industry Association (FIA) national annual awards for 3 years in a row! (2011, 2012 and 2013). This independent association represents all major mattress and furniture manufacturers in Australia and is the furniture industries equivalent to the Oscars!</p>
          </div> 
          
          <div class="box-gallery__content box-gallery__content--feature load">
            <p>Here is feature</p>
          </div> 
          
          <div class="box-gallery__content box-gallery__content--delivery load">
            <p>here is delivery</p>
          </div> 
        </div>
      </div>
    </div>
  </div>
</div>