<div class="product">
  <div class="container">
    <div class="product__wrap" style="display: flex">
      <div class="product__aside" style="width: 8.5%">

      </div>

      <div class="product__body">
        <div class="product__left js-product">
          <div class="product__left__image">
            <img src="../../../source/images/riseandshine-product_01.jpg" alt="">
          </div>
          <div class="product__left__image">
            <img src="../../../source/images/riseandshine-product_01.jpg" alt="">
          </div>
          <div class="product__left__image">
            <img src="../../../source/images/riseandshine-product_01.jpg" alt="">
          </div>
          <div class="product__left__image">
            <img src="../../../source/images/riseandshine-product_01.jpg" alt="">
          </div>
          <div class="product__left__image">
            <img src="../../../source/images/riseandshine-product_01.jpg" alt="">
          </div>
          <div class="product__left__image">
            <img src="../../../source/images/riseandshine-product_01.jpg" alt="">
          </div>
        </div>

        <div class="product__right">
          <h2 class="product__title">SensorFlex Platinum Collection</h2>

          <div class="price">
            <div class="price__was">was <span>$4,390</span>  </div>
            <div class="price__now">now <span>$3,790</span></div>
          </div>

          <form action="">
            <div class="product__row">
              <h5 class="product__name">Select a size: <a href="#">Size guide</a></h5>
              <div class="form-list">
                <div class="form-item">
                  <label for="single">single</label>
                  <input type="checkbox" id="single" name="">
                </div>
                <div class="form-item">
                  <label for="single">king single</label>
                  <input type="checkbox" id="single" name="">
                </div>
                <div class="form-item">
                  <label for="single">double</label>
                  <input type="checkbox" id="single" name="">
                </div>
                <div class="form-item">
                  <label for="single">queen</label>
                  <input type="checkbox" id="single" name="">
                </div>
                <div class="form-item">
                  <label for="single">king</label>
                  <input type="checkbox" id="single" name="">
                </div>
              </div>
            </div>

            <div class="product__row">
              <h5 class="product__name">Quantity</h5>
              <div class="form-list">
                <div class="form-item form-select">
                  <span class="btn"><span >1</span></span>
                </div>
                <div class="form-item form-cart">
                  <button class="btn btn--reverse btn--cart"><span>add to cart</span></button>
                </div>
              </div>
            </div>
          </form>

          <div class="product__multilink">
            <div class="product__icons">
              <h5 class="product__name">Share</h5>
              <ul class="list-icons">
                <li>
                  <a href="#" class="icon-facebook">facebook</a>
                </li>
                <li>
                  <a href="#" class="icon-pinterest">pinterest</a>
                </li>
              </ul>
            </div>

            <div class="product__payment">
              <h5 class="product__name text--tiny"><i class="icon-lock"></i>secure checkout with:</h5>
              <a href="#"><img src="../../../source/images/footer_image_01.png"></a>
              <a href="#"><img src="../../../source/images/footer_image_02.png" alt=""></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
