%btn,
.btn {
  @include niramit;
  line-height: normal;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: $white;
  appearance: none;
  background-image: none;
  border-radius: 0;
  border: 0;
  box-shadow: none;
  text-transform: lowercase;
  display: inline-block;
  outline: none;
  padding: 11px 38px 14px 16px;
  text-align: center;
  text-shadow: none;
  transition: all .3s ease;
  cursor: pointer;
  outline: 0;
  text-decoration: none;
  background: $btn-bg;

  span {
    position: relative;
    @extend .icon-arrow;

    &:before {
      @extend %icons;
      position: absolute;
      right: -21px;
      top: 5px;
    }
  }

  &--only-icon {
    padding: 0;
    width: 61px;
    height: 61px;
    font-size: 0;

    span {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 17px;
        transform: translate(-50%, -50%);

        @media only screen and (min-width: 768px) {
          font-size: 13px;
        }
      }
    }

    @media only screen and (min-width: 768px) {
      width: 39px;
      height: 39px;
    }
  }

  &--lost-icon {
    span {
      &:before {
        display: none;
      }
    }
  }

  &:active,
  &:hover {
    background: lighten($btn-bg, 5%);
    color: $white;
  }

  &--blue {
    background: $blue;

    &:active,
    &:hover {
      background: lighten($blue, 5%);
    }
  }

  &--orange {
    background: $orange;

    &:active,
    &:hover {
      background: lighten($orange, 5%);
    }
  }

  &--red {
    background: $red;

    &:active,
    &:hover {
      background: lighten($red, 5%);
    }
  }

  &--light-indigo {
    background: $light-indigo;

    &:active,
    &:hover {
      background: lighten($light-indigo, 5%);
    }
  }

  &--dark-blue {
    background: $dark-blue;

    &:active,
    &:hover {
      background: lighten($dark-blue, 5%);
    }
  }

  // modifier size
  &--full {
    width: 100%;
  }

  &--large {
    min-width: 209px;
  }

  &--small {
    padding: 11px 33px 14px 16px;
  }

  &--depend {
    width: 100%;
    text-align: left;

    span {
      width: 100%;
      display: inline-block;
    }
  }
}
