// ICONS.

%icons {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'riseandshine';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  font-size: 26px;
  speak: none;
  text-transform: none;
}

[class^='icon-'],
[class*=' icon-'] {
  &:before {
    @extend %icons;
  }
}

.icon-cart:before {
  content: "\e90a";
  font-size: 17px;
}
.icon-checkmark:before {
  content: "\e908";
}
.icon-zoom-out:before {
  content: "\e915";
}
.icon-fullscreen_exit:before {
  content: "\e914";
}
.icon-fullscreen:before {
  content: "\e912";
}
.icon-zoom-in:before {
  content: "\e913";
}
.icon-close:before {
  content: "\e911";
}
.icon-chevron-thin-up:before {
  content: "\e90d";
}
.icon-chevron-thin-down:before {
  content: "\e90e";
}
.icon-chevron-thin-left:before {
  content: "\e90b";
}
.icon-chevron-thin-right:before {
  content: "\e90a";
}
.icon-search:before {
  content: "\e904";
}
.icon-maximize-2:before {
  content: "\e907";
}
.icon-keyboard_arrow_right:before {
  content: "\e908";
}
.icon-keyboard_arrow_left:before {
  content: "\e909";
}
.icon-keyboard_arrow_up:before {
  content: "\e903";
}
.icon-keyboard_arrow_down:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\e900";
}
.icon-twitter:before {
  content: "\e90f";
}
.icon-instagram:before {
  content: "\e901";
}
.icon-pinterest-p:before {
  content: "\e902";
}
.icon-google-plus:before {
  content: "\e910";
}
.icon-youtube:before {
  content: "\e905";
}
.icon-share:before {
  content: "\e905";
}

.icon-heart:before {
  content: "\e907";
}

.icon-diamond:before {
  content: "\e906";
}

.icon-arrow:before {
  content: "\e909";
  font-size: 13px;
}

.icon-location:before {
  content: "\e902";
  font-size: 21px;
}
